
@font-face {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    src: local('Oxygen'), local('Oxygen-Regular'), url('../font/oxygen-regular.woff2') format('woff2'), url('../../font/oxygen-regular.woff') format('woff');
}

@font-face {
    font-family: 'Oxygen';
    font-style: normal;

    font-weight: 700;
    src: local('Oxygen Bold'), local('Oxygen-Bold'), url('../font/oxygen-bold.woff2') format('woff2'), url('../../font/oxygen-bold.woff') format('woff');
}

html {
    min-width: 1024px;
    min-height: 672px;
    height: 100%;
    width: 100%;
}
body {
    position: relative;
    min-width: 1024px;
    min-height: 672px;
    font-family: 'Oxygen', sans-serif;
    background: rgb(238, 238, 238);
    overflow-x: hidden;
    overflow-y: scroll;
}
.container {
    position: relative;
    margin: 0 auto;
    padding-left: 52px;
    padding-right: 52px;
    width: 1024px;
}
p {
    font-size: 14px;
    line-height: 21px;
}
table {
    width: 100%;
}/******************* *  Form Elements  * *******************/
input[type=text], input[type=email], input[type=password] {
    border: none;
    font-family: 'Oxygen', sans-serif;
    font-size: 14px;
    font-weight: bold;
}
input[disabled=""] {
    width: 100%;
    background-color: transparent;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
textarea {
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Oxygen', sans-serif;
    font-size: 14px;
    font-weight: bold;
    resize: none;
}
::-webkit-input-placeholder {
    color: rgb(255, 255, 255);
    opacity: 1;
}
::-moz-placeholder {
    color: rgb(181, 205, 224);
    opacity: 1;
}
:-ms-input-placeholder {
    color: rgb(255, 255, 255);
    opacity: 1;
}
input:focus::-webkit-input-placeholder {
    color: transparent;
}
input:focus::-moz-placeholder {
    color: transparent;
}
input:focus:-ms-input-placeholder {
    color: transparent;
}
textarea:focus::-webkit-input-placeholder {
    color: transparent;
}
textarea:focus::-moz-placeholder {
    color: transparent;
}
textarea:focus:-ms-input-placeholder {
    color: transparent;
}/**** Custom Checkbox ****/
input[type=checkbox] {
    display: none;
}
input[type=checkbox] + label {
    display: inline-block;
    vertical-align: top;
    padding-left: 26px;
    width: auto;
    height: 21px;
    background-image: url('../../img/staff/sprite-checkbox.png');
    background-position: 0 0;
    background-size: 15px 42px;
    background-repeat: no-repeat;
    line-height: 21px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
input[type=checkbox]:checked + label {
    background-position: 0 -21px;
}
input[type=checkbox]:disabled + label {
    cursor: default;
}/**** Custom Radio ****/
input[type=radio] {
    display: none;
}
input[type=radio] + label {
    display: inline-block;
    vertical-align: top;
    padding-left: 20px;
    padding-right: 15px;
    width: auto;
    height: 21px;
    background-image: url('../../img/staff/sprite-radio.png');
    background-position: 0 0;
    background-size: 15px 42px;
    background-repeat: no-repeat;
    line-height: 21px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
input[type=radio]:checked + label {
    background-position: 0 -21px;
}
input[type=radio]:disabled + label {
    cursor: default;
}/* Custom range input */
input[type=range] {
    -webkit-appearance: none;
    padding: 0;
    width: 100%;
    background-color: transparent;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 1px;
    border: none;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    margin-top: -10px;
    height: 21px;
    width: 21px;
    border: none;
    border-radius: 50%;
}
input[type=range]::-moz-range-track {
    width: 100%;
    height: 1px;
    border: none;
}
input[type=range]::-moz-range-thumb {
    height: 21px;
    width: 21px;
    border: none;
    border-radius: 50%;
}
input[type=range]::-ms-track {
    width: 100%;
    height: 21px;
    border: none;
    color: transparent;    /*remove default tick marks*/
    box-shadow: 0 0 0 10px rgb(255, 255, 255) inset;
}
input[type=range]::-ms-fill-lower {
    box-shadow: 0 0 0 10px rgb(255, 255, 255) inset;
}
input[type=range]::-ms-thumb {
    height: 21px;
    width: 21px;
    border: none;
    border-radius: 50%;
    border-radius: 50%;
}/*** Custom dropbox ****/
.dropbox {
    display: inline-block;
    vertical-align: top;
    font-weight: bold;
    text-align: left;
    width: 520px;
}
.dropbox-select {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
}
.dropbox-select:after {    /* right arrow */
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    margin-bottom: 1px;
    margin-left: 10px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 8px solid;
}
.dropbox-options-list {
    display: none;    /* change to inline-block when nec */
    vertical-align: top;
    position: relative;
    margin-top: -21px;
    width: 200px;    /*background: linear-gradient(to bottom, rgba(255,255,255,0) 01, rgba(255,255,255,0.78) 21, rgba(255,255,255,1) 45, rgba(255,255,255,0.78) 72%, rgba(255,255,255,0) 100%); /* W3C */
    background-color: rgba(255, 255, 255, 0.9);
    text-align: left;
    box-shadow: 0 0 30px -11px rgba(0, 0, 0, 0.15);
}
.dropbox-option {
    display: block;
    padding: 10px;
    line-height: 21px;
    cursor: pointer;
}/*** Button ****/
button {
    border: none;
    border-radius: 3px;
    font-family: 'Oxygen', sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    text-transform: capitalize;
}
button:disabled {
    color: rgba(255, 255, 255, 1);
    cursor: default;
}
.form-message {
    height: 21px;
    left: 40px;
    line-height: 21px;
    position: absolute;
    top: 0;
}
.form-message.error {
    color: rgb(239, 67, 60);    /* red */
}/************ *  Header  * ************/
header {
    position: relative;
    height: 100px;
}
#header-logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 40px;
    cursor: pointer;
}
#start-button {
    width: 120px;
    height: 40px;
    position: absolute;
    top: 30px;
    right: calc(50% - 720px);
    font-weight: bold;
}
#header-logo-link {
    display: block;
    position: relative;
    width: 200px;
    height: 40px;
}
#header-logo-link > img {
    width: 100%;
}
#header-logo-link {
    position: relative;
}
#user-controls {
    position: absolute;
    line-height: 40px;
    top: 40px;
    right: 52px;
}

@media (min-width: 1600px) {    /* Large Desktops - 1440px */
    #header-logo-link {
        position: absolute;
        top: 30px;
        left: calc(50% - 720px);
    }
    #user-controls {
        position: absolute;
        top: 45px;
        right: calc(50% - 720px);
    }
}

@media (max-width: 1599px) {    /* Small Desktops - 920px */
    #header-logo-link {
        position: absolute;
        top: 30px;
        left: calc(50% - 460px);
    }
    #user-controls {
        position: absolute;
        top: 30px;
        right: calc(50% - 460px);
        padding: 10px 0;
    }
    #start-button {
        position: absolute;
        top: 30px;
        right: calc(50% - 460px);
    }
}
#profile-link {
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin-left: 30px;
    padding: 0 26px 0 0;    /*background-image: url('../../img/staff/sprite-icon-settings.png');*/
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 20px 40px;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    cursor: pointer;
    -webkit-transition: none;
    transition: none;
}
#profile-link::after {
    position: absolute;
    right: 0;
    top: 2px;
    content: "⚙";
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 24px;
}
#profile-link:hover, #profile-link:active {
    background-position: right bottom;
}
#logout-link {
    display: inline-block;
    vertical-align: top;
    margin-left: 30px;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    cursor: pointer;
    -webkit-transition: none;
    transition: none;
}/************ *  Content  * ************/
#content {
    min-height: calc(100% - 229px); /* footer is 129px */
    position: relative;
    background-color: rgb(238, 238, 238); /* white */
}
#content.active {
    opacity: 1;
}
#content::after {    /* pseudo overlay with loading spinner */
    content: "";
    visibility: hidden;    /* to be switched during page transition */
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
#content.loading {
    visibility: hidden;
    opacity: 0;
    transition: visibility 1ms 0.1s, opacity 0.1s;    /* fade in duration */
}
#content.loading::after {
    visibility: visible;
    opacity: 1;
}
#content > section, #content > header, #content > footer {
    position: relative;
    margin: 0 auto 40px;
}
#content > section#staff-project-sub-menu {
    border-bottom: 1px solid rgb(24, 88, 159);
}

@media (min-width: 1600px) {    /* Large Desktops - 1440px */
    #content {
        padding: 40px calc(50% - 720px);
    }
    #content > section, #content > header, #content > footer {
        width: 1440px;
    }
}

@media (max-width: 1599px) {    /* Small Desktops - 920px */
    #content {
        padding: 40px calc(50% - 460px);
    }
    #content > section, #content > header, #content > footer {
        width: 920px;
    }
}/***************** *  Breadcrumbs  * *****************/
.breadcrumbs {
    position: relative;
    width: 100%;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 40px;
}
.breadcrumbs {
    display: inline-block;
    height: 46px;
    vertical-align: top;
    line-height: 44px;
}
a.breadcrumb::after {
    width: 40px;
    height: 44px;
    display: inline-block;
    content: "";
    background-image: url("../../img/staff/breadcrumb-separator-B5CDE0.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 44px;
    vertical-align: top;
}
.breadcrumb.current {
    display: inline-block;
    vertical-align: top;
    padding-right: 5px;
    margin-right: 0;
    margin-left: 4px;
    background-image: none;
    cursor: default;
}
.breadcrumbs .download-button {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    height: 15px;
    width: 15px;
    background-color: transparent;
    background-image: url('../../img/staff/sprite-icon-download.png');
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 15px 30px;
}
.breadcrumbs .download-button:hover {
    background-position: right bottom;
}/*** Search Form ***/
#search-form {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding-right: 0;
}
#search-text {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    background-color: transparent;
    text-align: right;
}
#search-button {
    display: inline-block;
    vertical-align: middle;
    width: 15px;
    height: 16px;
    background-color: transparent;
    background-image: url('../../img/staff/sprite-icon-find.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 15px 32px;
}
#search-button:hover {
    background-image: url('../../img/staff/search-18589F.svg');
}/*** Back To Top ***/
#back-to-top-button {
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    right: 0;
    margin-right: 0;
    padding: 15px 20px 15px 0;
    background: none;
    text-transform: capitalize;
    cursor: pointer;
}
#back-to-top-button:after {    /* top arrow */
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    margin-bottom: 1px;
    margin-left: 10px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 10px solid;
}/****************** * Result Section * ******************/
#result-section {
    position: relative;
    margin-bottom: 40px;
    border-radius: 5px;
}
#result-table {
    padding: 20px 20px 30px 20px;
    background-color: rgb(255, 255, 255);
    font-family: 'Oxygen', sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 21px;
}
#result-table tr {
    border-bottom: 1px solid rgb(246, 246, 246);
}
#result-table tr.hide {
    display: none;
}
#result-table td {
    display: table-cell;
    position: relative;
    vertical-align: top;
    padding: 10px 20px;
    height: 40px;
}
#result-table .sort-button {
    width: 100%;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    padding: 0 20px;
    background-color: transparent;
    line-height: 40px;
    text-align: left;
}
#result-table .sort-button:after {
    width: 10px;
    display: inline-block;
    margin-left: 10px;
    content: "▲";
    color: rgb(181, 205, 224);
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 10px;
    vertical-align: middle;
}
#result-table .sort-button[data-check="desc"]:after {
    content: "▼";
}
#result-table .sort-button:hover, #result-table .sort-button:hover:after, #result-table th.sortable.sort-selected::after {
    color: rgb(24, 88, 159);
}
.edit {
    vertical-align: middle;
    margin-right: 20px;
    width: 17px;
    height: 20px;
    background-color: transparent;
    background-image: url('../../img/staff/pen-999999.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: .5;
}
.edit:hover {
    background-color: transparent;
    opacity: 1;
}
.delete {
    vertical-align: middle;
    width: 15px;
    height: 20px;
    background-color: transparent;
    background-image: url('../../img/staff/sprite-icon-delete.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 15px 40px;
    opacity: .5;
}
.delete:hover {
    background-color: transparent;
    background-position: 0 -20px;
    opacity: 1;
}
.manage-image {
    vertical-align: middle;
    margin-right: 20px;
    width: 17px;
    height: 20px;
    background-color: transparent;
    background-image: url('../../img/staff/sprite-icon-manage-img.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 17px 40px;
}
.manage-image:hover {
    background-color: transparent;
    background-position: 0 -20px;
}
#result-table > tbody > tr:hover {
    background-color: rgb(246, 246, 246);
}
#result-table > tbody > tr:hover .edit, #result-table > tbody > tr:hover .delete, #result-table > tbody > tr:hover .manage-image {
    display: inline-block;
}
.confirm-yes, .confirm-no {
    cursor: pointer;
}
td > h3 {
    color: rgb(24, 88, 159);
}/*** Result Section > Pagination ***/
.simple-pagination {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: 15px 10px;
    overflow: hidden;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    color: rgb(255, 255, 255);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}
.simple-pagination > .page-link, .simple-pagination > .current {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
    color: rgb(255, 255, 255);
}
.results-per-page {
    width: 50%;
    display: inline-block;
    padding: 15px 0 15px 20px;
    font-size: 14px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-align: right;
}
.results-per-page > .per-page {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
    font-size: 14px;
    color: rgb(255, 255, 255);
}
.results-per-page > .per-page:first-of-type {
    margin-left: 20px;
}/****************************** * Setting (Edit/Add) Section * ******************************/
.setting-section {
    margin-bottom: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 0 0 5px 5px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}
.setting-section > h2 {
    display: block;
    padding: 15px 0;
    border-radius: 5px 5px 0 0;
    color: rgb(255, 255, 255);
    text-align: center;
    text-transform: uppercase;
}
.setting-section > form {
    position: relative;
    padding: 20px 30px 40px;
    text-align: center;
    overflow: hidden;
}
output {
    position: absolute;
    bottom: 15px;
    left: 50%;
    color: rgb(24, 88, 159);
    font-size: 14px;
    font-style: italic;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
output.error {
    color: rgb(255, 0, 0);
}
.setting-table {
    text-align: left;
}
.setting-table input[type="file"] {
    height: auto !important;
}
.setting-table tr {
    border-bottom: 1px solid rgb(238, 238, 238);
}
.setting-table tr:last-child {
    border: none;
}
.setting-table td {
    position: relative;
    vertical-align: top;
    padding: 9px 0;
    height: 40px;
    line-height: 21px;
}
.setting-table td.label {
    width: 180px;
    padding-left: 20px;
    border-right: 1px solid rgb(238, 238, 238);
}
.setting-table td.input {
    padding-right: 0;
    padding-left: 0;
    width: 740px;
}
.setting-table input {
    width: 100%;
    height: 100%;
}
.setting-table textarea {
    width: 100%;
    height: 160px;
    line-height: 21px;
}
.setting-table input:not([type=radio]):not([type=checkbox]), .setting-table textarea {
    display: inline-block;
    vertical-align: top;
    width: 480px;
    padding: 0 20px;
    color: rgb(24, 88, 159);
}
.setting-table label.error {
    display: inline-block;
    vertical-align: top;
    width: 200px;
    color: rgb(239, 67, 60);
    font-style: italic;    /* red */
}
.setting-section button {
    width: 120px;
    display: inline-block;
    vertical-align: top;
    margin: 40px 20px 0;
    line-height: 40px;
}/************ *  Footer  * ************/
footer {
    min-height: 129px;
    padding: 40px 0 !important;
    min-height: 100px;
    font-size: 14px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-align: center;
}
#footer-logo {
    width: 86px;
    display: block;
    margin: 0 auto 15px;
}
#footer-logo img {
    width: 100%;
}/* Dashboard: footer section */
.footer-section {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 40px;
    width: 320px;
    height: 164px;
    border-bottom: 1px solid rgb(218, 230, 240);
}
.footer-section:first-of-type, .footer-section:last-of-type {
    width: 300px;
}
.footer-section > h3 {
    margin-bottom: 20px;
    height: 40px;
    border-right: 1px solid rgb(218, 230, 240);
    border-top: 1px solid rgb(218, 230, 240);
    border-bottom: 1px solid rgb(218, 230, 240);
    line-height: 40px;
}
.footer-section:last-of-type > h3 {
    border-right: none;
}
.footer-section > a:link, .footer-section > a:visited {
    display: block;
    height: 28px;
    color: rgb(255, 255, 255);
    line-height: 28px;
}/***** Loading Overlay *****/
#login-overlay {
    background: rgba(0, 0, 0, 0.2);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
    display: none;
}
#login-overlay.active {
    display: block;
}
#overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;    /* in front of everything else */
    display: none;
    background-color: rgb(153, 153, 153);
}
#overlay.active {
    display: block;
}
#loading-ajax {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;    /* in front of everything else */
    background-color: rgb(255, 255, 255);
}
#loading-ajax.active {
    display: block;
}
.loading-img {
    width: 128px;
    height: 128px;
    display: inline-block;
    position: fixed;
    top: calc(50% - 64px);
    left: calc(50% - 64px);
}
#popup-response {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;    /* in front of everything else */
    background-color: rgb(153, 153, 153);
}/********** *  Main  * **********/
#main {
    visibility: visible; /* to be switched during page transition */
    position: relative;
    min-height: calc(100% - 229px);
    opacity: 1; /* to be switched during page transition */
    transition: opacity 0.15s;
}
#main::after { /* pseudo overlay with loading spinner */
    content: "";
    visibility: hidden; /* to be switched during page transition */
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
#main.loading {
    visibility: hidden;
    opacity: 0;
    transition: visibility 1ms 0.1s, opacity 0.1s; /* fade in duration */
}
#main.loading::after {
    visibility: visible;
    opacity: 1;
}
#main > section, #main > header, #main > footer {
    position: relative;
    margin: 0 auto 40px;
}

@media (min-width: 1600px) { /* Large Desktops - 1440px */
    #main {
        padding: 40px calc(50% - 720px);
    }
    #main > section, #main > header, #main > footer {
        width: 1440px;
    }
}

@media (max-width: 1599px) { /* Small Desktops - 920px */
    #main {
        padding: 40px calc(50% - 460px);
    }
    #main > section, #main > header, #main > footer {
        width: 920px;
    }
}
.image-preview-area > img, .image-small-preview-area > img {
    bottom: 0;
    display: block;
    left: 0;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    right: 0;
    top: 0;
}
.image-preview-area, fieldset > .image-small-preview-area {
    width: 400px;
    height: 400px;
    display: inline-block;
    margin: 30px 20px 0 0;
    vertical-align: top;
}
.upload-instructions {
    width: 400px;
    display: inline-block;
    margin: 30px 20px 0 0;
    padding: 0;
    vertical-align: top;
}
.upload-instructions p {
    margin: 0 0 20px;
}
input[type="file"] {
    width: 0;
    height: 0;
    position: absolute;
    opacity: 0;
}
input[type="file"]:focus + label, input[type="file"] + label:hover {
    background-color: rgb(181, 205, 224);
    outline: medium none;
}
input[type="file"] + label {
    width: 180px;
    height: 40px;
    display: block;
    background-color: rgb(24, 88, 159);
    border: none;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    line-height: 40px;
    text-align: center;
    transition: background-color 0.1s ease 0s, box-shadow 0.1s ease 0s;
    white-space: nowrap;
}
.document-preview-area, image-preview-area, .image-small-preview-area, .uploads-wraper, fieldset > .upload-instructions {
    display: inline-block;
    margin: 40px 20px 40px 0;
    vertical-align: top;
}
.image-preview-area, .image-small-preview-area {
    position: relative;
}
.image-preview-area, .image-small-preview-area {
    background-image: url('../../img/pat-checker.jpg');
    border: 1px solid rgb(181, 205, 224);
}
.edit-error, .add-error {
    display: none;
    color: red;
    padding-top: 10px;
}

@media(min-width: 1600px) {
    .upload-instructions {
        width: 860px;
    }
}/********** * Browse Upload Name Holder  * **********/
.uploaded-name-holder {
    width: 100%;
    display: inline-block;
    position: relative;
    margin: 20px 0 0;
    padding: 8px 0;
    border-top: 1px solid rgb(238, 238, 238);
    border-bottom: 1px solid rgb(238, 238, 238);
    overflow: hidden;
}
.uploaded-name-holder label, .uploaded-name-holder input {
    display: inline-block;
}
.uploaded-name-holder label {
    width: 30%;
}
.upload-instructions .uploaded-name-holder input[type="text"] {
    width: 70%;
    padding: 0 20px 0 0;
}
.btn-delete {
    display: none;
    position: absolute;
    right: -10px;
    top: 44%;
    margin-left: 0;
    padding: 0 10px;
    color: rgb(24, 88, 159);
    font-size: 26px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    z-index: 1;
}
.confirm-delete {
    width: 100%;
    display: none;
    position: absolute;
    top: 50%;
    left: 20%;
    background-color: rgb(255, 255, 255);
    color: rgb(24, 88, 159);
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    z-index: 2;
}/********** * Form Validation error msg  * **********/
.sa-button-container {
    margin: 0 0 20px;
}
.error span {
    color: rgb(255, 0, 0);
    display: inline-block;
    font-size: 14px;
    padding: 5px;
    width: 100%;
}
.error span.confirm-delete {
    // color: rgb(255, 0, 0);
    display: none;
}
.confirm:hover {
    background-color: rgba(24, 88, 159, 0.7) !important;
}/********** * Date Picker  * **********/
.dtp .dtp-content {
    max-width: 350px !important;
    max-height:570px !important;
    border-radius:5px;
}

.dtp .dtp-content .dtp-date-view header.dtp-header {
    height: auto;
    background: rgb(24, 88, 159) !important;
}
.dtp div.dtp-date, .dtp div.dtp-time {
    background: rgb(24, 88, 159) none repeat scroll 0 0 !important
}
.material-icons {
    color: rgb(255, 255, 255);
}
.dtp div.dtp-picker{
    padding: 10px 5px 10px !important;
}
.dtp div.dtp-actual-year {
    color: rgb(24, 88, 159) !important;
}
.dtp table.dtp-picker-days tr > td > a.selected {
    background: rgb(24, 88, 159) !important;
}
.dtp-buttons button {
    width: 100px;
    margin: 0 5px;
    line-height:40px
}
.dtp .dtp-buttons {
    padding: 0 20px 27px !important;
    text-align: center !important;
}
.dtp-header {
    display: none;
}
.dtp div.p80 {
    opacity: 0;
}
.dtp-actual-num {
    display: none;
}
.dtp-date div:last-child {
    display: none;
}
.dtp div.dtp-date, .dtp div.dtp-time{
    padding:12px !important;
    border-radius:5px 5px 0 0;
}
.dtp-picker-month {
    /*background-color: rgb(181, 205, 224);*/
    color: rgb(255, 255, 255);
    font-size: 16px;
    height: 10px;
    left: 50%;
    position: absolute;
    top: 13px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    line-height:20px;
}
.dtp table.dtp-picker-days tr > th {
    color: #18589f !important;
    font-weight: normal !important;
    padding: 18px !important;
}

/*.dtp table tbody tr td a.dtp-select-day {
    width: 100%;
    display: inline-block;
    padding: 18px;
    margin: -0.5em -0.3em 0;
    font-size: 16px;
    font-weight: normal;
}*/

 .dtp table tbody tr td a.dtp-select-day {
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    height: 40px;
    line-height: 36px;
    margin: 0 !important;
    padding: 0 !important;
    width: 40px;
}

 .dtp table.dtp-picker-days tr > td{
     padding:0 !important;
 }
.dtp table tbody tr td a.dtp-select-day:hover {
    background-color: rgb(181, 205, 224);
    color: rgb(255, 255, 255);
    transition: 100ms ease;
}
.edit-error {
    display: none !important;
}
.dtp-btn-ok {
    margin-left: -225px !important;
}
