<a id="project-basic-info" class="project-button" data-for="staff-project-basic-info">Listing</a><!--
  --><a class="project-button" data-for="staff-project-feature">Info</a><!--
  --><a class="project-button" data-for="staff-project-blue-print">Blueprints</a><!--
  --><a class="project-button" data-for="staff-project-image">Gallery</a><!--
  