<a id="fabric-care" class="fabric-properties-button" data-for="staff-fabric-care">Basic Info</a><!--
  --><a class="fabric-properties-button" data-for="staff-fabric-color">Feature</a><!--
  --><a class="fabric-properties-button" data-for="staff-fabric-material">Fabric material</a><!--
  --><a class="fabric-properties-button" data-for="staff-fabric-pattern">Fabric pattern</a><!--
  --><a class="fabric-properties-button" data-for="staff-fabric-weave">Fabric weave</a><!--
  --><a class="fabric-properties-button" data-for="staff-trimming-price">Trimming price</a>