#content {
	width: 100%;
	min-height: 500px;
	display: flex;
        justify-content: center;
        align-items: center;
    position: relative;
	text-align: center;
}
#logo-este-404 {
	width: 362px;
	margin-top: 286px;
	padding: 0 25px 28px;
	display: inline-block;
	border-bottom: 1px dashed rgb(122, 119, 97);
}
#logo-este-404 > img {
	max-width: 312px;
}
#message-404 {
	/*padding-top: 26px;*/
	font-size: 16px;
	line-height: 24px;
}

#message-404 h1{
	line-height:80px;
}
#home-link {
	color: rgb(194, 0, 47);
	text-decoration: underline;
}