/***** FONT *****/



@font-face {
	font-family: 'PontanoSans';
	src: url('../../font/pontanosans/PontanoSans-Regular.eot');
	/* IE9 Compat Modes */

	src: url('../../font/pontanosans/PontanoSans-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */  url('../../font/pontanosans/PontanoSans-Regular.woff2') format('woff2'), /* Super Modern Browsers */  url('../../font/pontanosans/PontanoSans-Regular.woff') format('woff'), /* Pretty Modern Browsers */  url('../../font/pontanosans/PontanoSans-Regular.ttf') format('truetype'), /* Safari, Android, iOS */  url('../../font/pontanosans/PontanoSans-Regular.svg#svgFontName') format('svg');/* Legacy iOS */

}
@font-face {
	font-family: 'LoveloBlack';
	src: url('../../font/loveloblack/LoveloBlack.eot');
	/* IE9 Compat Modes */

	src: url('../../font/loveloblack/LoveloBlack.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */  url('../../font/loveloblack/LoveloBlack.woff2') format('woff2'), /* Super Modern Browsers */  url('../../font/loveloblack/LoveloBlack.woff') format('woff'), /* Pretty Modern Browsers */  url('../../font/loveloblack/LoveloBlack.ttf') format('truetype'), /* Safari, Android, iOS */  url('../../font/loveloblack/LoveloBlack.svg#svgFontName') format('svg');/* Legacy iOS */

}
/**/





/*** PreLoader ***/

.hide-it {
	display: none;
}
#content-progress {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(36, 38, 44, 1);
	z-index: 99999;
	display: none;
}
#content-progress canvas {
	height: 300px;
	width: 300px;
	position: fixed;
	left: calc(50% - 150px);
	top: calc(50% - 150px);
	color: rgb(255, 255, 255);
	font-family: 'ostrich_sansmedium';
	font-size: 200px;
}
/**/



.clearfix:before,  .clearfix:after {
	display: table;
	content: " ";
}
.clearfix:after {
	clear: both;
}
/***** COLORS *****/



.red {
	color: #c2002f;
}
.black {
	color: #000;
}
.grey {
	color: #c7bc9b;
}
.white {
	color: #fff;
}
.black {
	color: #000;
}
/***** HEADER TAGS *****/



h1,  h2,  h3,  h4,  h5 {
	font-family: 'LoveloBlack';
	font-weight: 400;
	letter-spacing: .1em;
}
h1 {
	font-size: 42px;
	line-height: 63px;
}
h2 {
	font-size: 36px;
	line-height: 54px;
}
h3 {
	font-size: 24px;
	line-height: 36px;
}
h4 {
	font-size: 18px;
	line-height: 27px;
}
h5 {
	font-size: 14px;
	line-height: 21px;
}
h6,  h7 {
	font-family: 'PontanoSans';
	font-weight: 400;
}
h6 {
	font-size: 18px;
	line-height: 27px;
}
h7 {
	font-size: 14px;
	line-height: 21px;
}
a {
	transition: 400ms ease;
}
/***** HTML *****/



html {
	height: 100%;
	width: 100%;
}
body {
	min-width: 100%;
	min-height: 100%;
	position: relative;
	margin: 0;
	background-color: #fff;
	background-image: url(../../img/bg-main.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	color: #333333;
	font-family: 'PontanoSans', Helvetica, sans-serif;
	font-size: 18px;
	overflow-x: hidden;
	overflow-y: scroll;
	transition: 500ms ease;
}

@media(min-width:1024px) {
    body {
        padding: 100px 0 0;
    }
}
/***** Layout CSS *****/



.main-container {
	width: 100%;
	position: relative;
	margin: 0 auto;
	background-color: #fff;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.8);
	z-index: 9;
}
footer .container {
	padding: 0 20px;
}
.container {
	width: 100%;
	margin: 0 auto;
}

@media(min-width: 1024px) {
.main-container {
	width: 1024px;
}
.container {
	width: 970px;
}
}

@media(min-width: 1366px) {
.main-container {
	width: 1366px;
}
.container {
	width: 1280px;
}
}

/***** COMMON CSS *****/



@media(max-width: 1023px) {
.hidden-mobile {
	display: none;
}
}
.text-center {
	text-align: center;
}
.header-title {
	margin-bottom: 24px;
	font-size: 24px;
	line-height: 36px;
}
.short-detail {
	width: 100%;
	margin: 0 auto 34px;
	padding: 0 10px;
	line-height: 27px;
}

@media(min-width: 1024px) {
.header-title {
	margin-bottom: 15px;
	font-size: 42px;
	line-height: 63px;
}
.short-detail {
	width: 570px;
	margin: 0 auto 36px;
	padding: 0;
}
}
.button {
	width: 160px;
	height: 30px;
	display: block;
	padding-left: 2px;
	border: 2px solid #fff;
	border-radius: 15px;
	font-family: 'LoveloBlack';
	font-size: 14px;
	color: #fff;
	line-height: 26px;
	letter-spacing: .1em;
	text-align: center;
	cursor: pointer;
}
.button:hover,  .button:focus {
	background-color: #000;
	border: 2px solid #000;
}
.main-logo {
	width: 240px;
}
/***** INNER HERO HEADER *****/



.inner-hero {
	width: 100%;
	height: 400px;
	display: none;
	position: relative;
	overflow: hidden;
}
.inner-hero img {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
}
#title-logo {
	width: 120px;
	height: 40px;
	display: none;
	position: absolute;
	left: 63px;
	top: 50%;
	vertical-align: middle;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}

@media(min-width: 1024px) {
.inner-hero {
	display: inline-block;
	vertical-align: top;
}
#title-logo {
	display: inline-block;
}
}
/***** HEADER CSS *****/



header.inner-header,  header.fixed-header {
	background-color: #c2002f;
}

@media(min-width: 1024px) {
header {
	width: 1024px;
	position: fixed;
	left: 50%;
	top: 0;
	background-color: transparent;
	z-index: 5;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
}
}

@media(min-width: 1366px) {
header {
	width: 1366px;
}
}
.nav-scroll {
	height: 4px;
	background-color: #fff;
	position: fixed;
	top: 0;
	transition: 400ms ease;
}
.main-navigation a {
	width: 20px;
	height: 20px;
	display: inline-block;
	margin: 10px 12px;
	padding: 0;
	background-repeat: no-repeat;
	background-size: 20px;
	background-position: center;
	font-size: 0;
	vertical-align: top;
	opacity: .4;
}
.main-navigation a.active,  .main-navigation a:hover,  .main-navigation a:focus {
	opacity: 1;
}
.main-navigation a:nth-child(1) {
	background-image: url("../../img/icons/icon-home.svg");
}
.main-navigation a:nth-child(2) {
	background-image: url("../../img/icons/icon-projects.svg");
}
.main-navigation a:nth-child(3) {
	background-image: url("../../img/icons/icon-profile.svg");
}
.main-navigation a:nth-child(4) {
	background-image: url("../../img/icons/icon-partners.svg");
}
.main-navigation a:nth-child(5) {
	background-image: url("../../img/icons/icon-blog.svg");
}
.main-navigation a:nth-child(6) {
	background-image: url("../../img/icons/icon-contact.svg");
}

@media(min-width: 1024px) {
header.fixed-header .main-navigation a {
	margin: 20px 0;
}
.main-navigation a {
	width: auto;
	height: auto;
	margin: 40px 0;
	padding: 0 28px;
	background-image: none !important;
	font-family: "LoveloBlack";
	font-size: 14px;
	color: #ffffff;
	letter-spacing: 0.06em;
	line-height: 21px;
	opacity: 1;
}
}
/***** FOOTER *****/



footer {
	padding-top: 58px;
	position: relative;
	background-color: #111;
	background-image: url("../../img/footer-bg.png");
	background-repeat: no-repeat;
	background-position: center -222px;
	color: #fff;
	text-align: center;
}

@media(min-width: 2000px) {
footer {
	background-image: url("../../img/footer-bg-lg.png");
}
}
footer:after {
	height: 20px;
	width: 100%;
	content: "";
	position: absolute;
	left: 0;
	top: -17px;
	background-image: url("../../img/black-separator.png");
	background-repeat: repeat-x;
	background-size: 40px 20px;
}
footer .main-logo {
	margin-top: 14px;
	margin-bottom: 44px;
}
.footer-top {
	margin-bottom: 42px;
}
.footer-top .container {
	position: relative;
}
.footer-top h4 {
	display: inline-block;
	margin-bottom: 26px;
	padding-left: 56px;
	padding-top: 6px;
	background-position: 18px 4px;
	background-repeat: no-repeat;
}
.footer-top p {
	line-height: 27px;
}
.find-us {
	width: 100%;
	display: inline-block;
	margin-bottom: 42px;
}
.find-us h4 {
	background-image: url("../../img/icons/location-icon.svg");
}
.contact-us {
	display: inline-block;
	margin-bottom: 42px;
}
.contact-us a {
	color: #fff;
	transition: 400ms ease;
}
.contact-us a:hover,  .contact-us a:focus {
	color: #C2002F;
}
.contact-us h4 {
	background-image: url("../../img/icons/email-icon.svg");
}
.social-links {
}
.social-links a {
	width: 40px;
	height: 40px;
	display: inline-block;
	margin: 0 3px;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 50%;
	transition: 400ms ease;
}
.social-links a:hover {
	opacity: .7;
}
.social-links a:first-child {
	margin-left: 0;
}
.social-links a:last-child {
	margin-right: 0;
}
.facebook {
	background-image: url("../../img/icons/facebook-icon.svg");
}
.pinterest {
	background-image: url("../../img/icons/pinterest-icon.svg");
}
.instagram {
	background-image: url("../../img/icons/instagram-icon.svg");
}
.footer-logo {
	position: absolute;
	right: 20px;
	top: 262px;
}
.footer-logo img {
	display: inline-block;
	margin-left: 20px;
}
.footer-bottom {
	min-height: 100px;
	padding: 34px 0;
	background-color: #000;
}
.footer-bottom p {
	line-height: 27px;
}
.footer-bottom span {
	display: inline-block;
}
.footer-links a {
	margin: 0 14px;
	color: #fff;
	line-height: 27px;
	transition: 400ms ease;
}
.footer-links a:hover {
	color: #C2002F;
}
.footer-links a:first-child {
	margin-left: 0;
}
.footer-links a:last-child {
	margin-right: 0;
}
#footerPopup {
	position: relative;
}
#termsOfUse-modal.modal-wrap,  #privacyPolicy-modal.modal-wrap {
	width: 100%;
	height: 100%;
	overflow: auto;
	position: fixed;
	top: 0;
	left: 0;
	padding: 20px;
	background-color: rgb(0, 0, 0);
	border-radius: 0;
	transform: translateX(-50%) scale(0);
	-webkit-transform: translateX(-50%) scale(0);
	-moz-transform: translateX(-50%) scale(0);
	-ms-transform: translateX(-50%) scale(0);
	-o-transform: translateX(-50%) scale(0);
	transition: all 250ms ease 0s;
	z-index: 7;
}
#termsOfUse-modal.active,  #privacyPolicy-modal.active {
	transform: scale(1);
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
}
#termsOfUse-modal h3, #privacyPolicy-modal h3 {
	margin: 0 auto 30px;
	text-align: left;
	width: 100%;
}
#termsOfUse-modal p, #privacyPolicy-modal p {
	width: 100%;
	margin: 0 auto 10px;
	font-size: 14px;
	text-align: left;
	line-height: 22px;
}
.footer-modal-close {
	width: 30px;
	height: 30px;
	position: absolute;
	right: 20px;
	top: 22px;
	background-color: rgba(0, 0, 0, 0);
	background-image: url("../../img/icons/modal-close.svg");
	background-position: center center;
	background-repeat: no-repeat;
	border: medium none;
	cursor: pointer;
	font-size: 0;
}

@media(min-width: 768px) {
footer {
	background-position: center -390px;
}
#termsOfUse-modal h3, #privacyPolicy-modal h3 {
	text-align: left;
}
}

@media(min-width: 1024px) {
footer {
	padding-top: 86px;
	text-align: left;
}
.footer-top {
	margin-bottom: 246px;
}
footer .main-logo {
	margin-bottom: 0;
}
.footer-top h4 {
	margin-bottom: 28px;
	padding-left: 40px;
	background-position: left 4px;
}
.find-us {
	margin-bottom: 0;
}
.contact-us {
	margin-bottom: 0;
}
.footer-bottom span {
	display: inline-block;
}
.find-us {
	width: 180px;
	display: inline-block;
	margin-left: 76px;
	vertical-align: top;
}
.contact-us {
	display: inline-block;
	margin-left: 36px;
	vertical-align: top;
}
.social-links {
	position: absolute;
	top: 14px;
	right: 20px;
}
.footer-bottom p {
	width: 70%;
	float: left;
	display: inline-block;
}
.footer-links {
	width: 30%;
	float: left;
	display: inline-block;
	text-align: right;
}
#termsOfUse-modal.modal-wrap,  #privacyPolicy-modal.modal-wrap {
	padding: 40px;
}
#termsOfUse-modal p, #privacyPolicy-modal p {
	width: 768px;
}
#termsOfUse-modal h3, #privacyPolicy-modal h3 {
	width: 768px;
}
.footer-modal-close {
	right: 40px;
	top: 40px;
}
}

.avatar {
    border-radius: 100%;
    width: 120px;
	margin-bottom:10px;
}