	<form id="login-form" class="overlay-form" method="post">		
		<label for="login-email">Email</label>
		<input type="text" name="email" id="login-email" placeholder="Your email" />
		
		<label for="login-password">Password</label>
		<input type="password" name="password" id="login-password" placeholder="Your password" />
		
		<input type="checkbox" name="persistent" id="login-persistent" checked="checked" />
		<label for="login-persistent">Remember me on this computer</label>
		
		<a href="#forgot-password-form" id="forgot-password-link">Forgot your password?</a>
		
		<button type="submit" disabled="disabled">Log In</button>
	</form>
	
	<form id="forgot-password-form" class="overlay-form" method="post">		
		<label for="forgotten-email">Email</label>
		<input type="text" name="email" id="forgotten-email" placeholder="Your email" />
		
		<p id="forgot-password-message">
			Not to worry. Just enter your<br />
			email address and click Send<br />
			to retrieve your new password.
		</p>
		<a href="#login-form" id="login-link">Return to login screen.</a>
		
		<button type="submit" disabled="disabled">Send</button>
	</form>