#content {
	background: url(../img/bg-pattern-about.jpg) repeat top left;
}
/***** About Banner *****/

#about-banner {
	width: 100%;
	height:522px;
	position:relative;
	margin: 0px;
	padding: 0px;
	background-color: rgb(36,38,44);
    opacity: 0;
	overflow:hidden;
}
#about-banner.active {
    opacity: 1;
}
.slider-container {
	width: 1024px;
	height: 522px;
	position:relative;
	margin:0 auto;
	padding: 0;
	overflow: hidden;
}
#about-banner > .background {
	width: 100%;
	height: 522px;
	position: absolute;
	top: 0;
	left: 0;
	background-position: center center;
	background-repeat :no-repeat;
	background-size: 1997px 522px;
	opacity: 0;
	transition: opacity 1s ease-in-out;
	-webkit-transition: opacity 1s ease-in-out;
}
#about-banner > .background.current,
#about-banner > .background:first-child {
	opacity: 1;
}
#background-1 {
    background-image: url('../img/bg-hero1.png');
}

#background-2 {
    background-image: url('../img/bg-hero2.png');
}

#background-3 {
    background-image: url('../img/bg-hero3.png');
}

#background-4 {
    background-image: url('../img/bg-hero4.png');
}

#background-5 {
    background-image: url('../img/bg-hero5.png');
}

#hero-slider {
    display: none;
}

#background-images {
    display: none;
}

/***** About Container *****/
#about-container {
	width: 100%;
	min-height: 1352px;
	position: relative;
	border-top: 10px solid rgb(61, 53, 50);
	background-image: url(../img/bg-about-us.png);
	background-position: top center;
	background-repeat: no-repeat;
	background-size: 2000px;
	box-shadow: 0 2px 2px 3px rgba(0, 0, 0, 0.25);
}
#commitment {
	width: 1024px;
	position: relative;
	margin: -48px auto 82px;
	font-family: 'ostrich_sansmedium';
	text-align: center;
}
#dress-to-impress{
	margin-top:-73px;
}
#commitment-quote {
	position: relative;
	margin:3px 0 92px;
	font-size: 20px;
	line-height: 24px;
	letter-spacing: 1px;
	color: rgb(255,255,255);
}
#front-quote {
	position: relative;
	left: -7px;
}
#we-believe{
	margin-bottom: 29px;
	}
#commitment > p {
	font-size: 28px;
	line-height: 36px;
	color: rgb(222,209,166);
}
#commitment-quote p {
	width: auto;
  	display: inline-block;
	position: relative;
}
#commitment-quote p:after {
	width: 44px;
	height: 36px;
	content: "";
	position: absolute;
	top: 69px;
	right: -30px;
	background: url(../img/back-quote.png) no-repeat center;
}

/***** Testimonial *****/			
#testimonial {
	width: 1024px;
	position: relative;
	margin: 0 auto;
	color: rgb(255,255,255);
}
#testimonial h2,
#testimonial h3{
	text-align:center;
}
#thanks-guys{
    position: relative;
    top: -55px;
	left: 5px;
	}
/*** Viewport for the Testimonials Container ***/

#carousel-wrap {
	width:680px;
	position: relative;
	margin:0 auto;
	overflow: hidden;
}
#testimonial-list {
	width: 680px;
	height: 320px;
	padding: 0px;
	overflow: hidden;
}
#testimonial-list blockquote {
	width: 200px;
	height: 300px;
	display: inline-block;
	padding: 15px 20px;
	margin-right: 40px;
	border-radius: 5px;
	background-color: rgba(255,255,255,0.1);
	font-size: 12px;
	line-height: 18px;
	list-style: none;
	text-align: center;
	vertical-align: top;
}
#testimonial-list .author {
	margin-top: 10px;
	color: rgb(222, 209, 166)
}
.nav-btn {
	width: 15px;
	height: 24px;
	display: inline-block;
	border:none;
	text-indent: -9999px;
	opacity: 0.25;
	cursor:pointer;
}
.prevbtn {
	position: absolute;
	top:404px;
	left: 118px;
	background: url(../img/carousel-arrow-left.png) no-repeat center;
}
.nextbtn {
	position: absolute;
	top:404px;
	right: 118px;
	background: url(../img/carousel-arrow-right.png) no-repeat center;
}
.nav-btn:hover,
.nav-btn:active,
.nav-btn:focus {
	opacity: 1;
}
