/*#partner {
    padding-top: 62px;
    padding-bottom: 20px;
}

#partner .short-detail {
    margin: 0 auto 56px;
}

#partner-content {
    padding-top: 34px;
}

#partner article {
    margin-bottom: 66px;
    vertical-align: top;
}

@media(min-width: 1024px) {
    #partner {
        padding-top: 84px;
        padding-bottom: 88px;
    }
    #partner-content {
        padding-top: 10px;
    }
    #partner article {
        display: inline-block;
        width: 33%;
        margin-bottom: 68px;
    }
}

@media(min-width: 1366px) {
    #partner article {
        width: 25%;
    }
}

#partner-content .partner-logo {
    width: 200px;
    height: 200px;
    margin-bottom: 42px;
}

#partner-content h4 {
    margin-bottom: 26px;
}

#partner-content span {
    width: 100%;
    display: inline-block;
    line-height: 27px;
}*/

//new design css
#profile {
    padding-top: 62px;
    padding-bottom: 46px;
}

#capabilities {
    padding-top: 12px;
}

#profile article {
    margin-bottom: 40px;
    padding: 0 15px;
     vertical-align: top;
}

@media(min-width: 1024px) {
    #profile {
        padding-top: 84px;
        padding-bottom: 128px;
    }
    #capabilities {
        padding-top: 40px;
    }
    #profile article {
        display: inline-block;
        width: 25%;
        margin-bottom: 40px;
        padding: 0 20px;
    }
}

#capabilities .icon {
    width: 100px;
    height: 100px;
    margin: 0 auto 32px;
    background-repeat: no-repeat;
    background-position: center;
}

#capabilities article:nth-child(1) .icon {
    background-image: url("../img/icons/icon-construction-structural-works.svg");
}

#capabilities article:nth-child(2) .icon {
    background-image: url("../img/icons/icon-architecture-engineering.svg");
}

#capabilities article:nth-child(3) .icon {
    background-image: url("../img/icons/icon-Interior-design-landscaping.svg");
}

#capabilities article:nth-child(4) .icon {
    background-image: url("../img/icons/icon-Mechanical-electrical-works.svg");
}

#capabilities h4 {
    margin-bottom: 28px;
}

#capabilities p {
    line-height: 27px;
}
