#contact {
    padding-top: 62px;
    padding-bottom: 10px;
}

#map {
    width: 100%;
    height: 285px;
}

#contact .short-detail {
    width: 324px;
}

#contact-content {
    padding-top: 0;
}

#contact article {
    margin-bottom: 62px;
    padding: 0 15px;
    vertical-align: top;
}

#contact article a {
    color: #333;
    transition: 400ms ease;
}

#contact article a:hover,
#contact article a:focus {
    color: #C2002F;
}
#title-logo{
    display:none;
}

@media(min-width:768px) {
    #map {
        height: 465px;
    }
}

@media(min-width: 1024px) {
    #title-logo{
    display:inline-block;
}
    #contact {
        padding-top: 84px;
        padding-bottom: 140px;
    }
    #contact-content {
        padding-top: 40px;
    }

    #contact article {
        display: inline-block;
        width: 25%;
        margin-bottom: 40px;
        padding: 0 20px;
    }
}

#contact-content .icon {
    width: 100px;
    height: 100px;
    margin: 0 auto 32px;
    background-repeat: no-repeat;
    background-position: center;
}

@media(min-width: 1024px) {
    #contact-content .icon {
        margin: 0 auto 35px;
    }
}

#contact-content article:nth-child(1) .icon {
    background-image: url("../img/icons/icon-location.svg");
}

#contact-content article:nth-child(2) .icon {
    background-image: url("../img/icons/icon-mobile.svg");
}

#contact-content article:nth-child(3) .icon {
    background-image: url("../img/icons/icon-calendar.svg");
}

#contact-content article:nth-child(4) .icon {
    background-image: url("../img/icons/icon-email.svg");
}

#contact-content h4 {
    margin-bottom: 26px;
}

#contact-content span {
    display: block;
    line-height: 27px;
}
