/***** HERO SECTION *****/

#home-hero-img {
    height: 700px;
    width: 100%;
    position: fixed;
    left: 50%;
    top: 0;
    background-image: url("../img/banner-img.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -9;
    transform: translateX(-50%);
}
#home-hero-img:after {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .7);
    z-index: -9;
}
/**/

#hero {
    padding-top: 100px;
    padding-bottom: 100px;
}
#hero .main-logo {
    margin-bottom: 38px;
}
#hero a {
    margin: 0 auto;
}
#hero .button {
    margin-bottom: 74px;
}

@media(min-width: 1024px) {
    #home-hero-img {
        width: 1024px;
    }
    #hero {
        padding-top: 195px;
        padding-bottom: 72px;
    }
    #hero .button {
        margin-bottom: 114px;
    }
}
@media(min-width:1366px) {
    #home-hero-img {
        width: 1366px;
    }
}
.scroll-down {
    width: 20px;
    height: 37px;
    display: inline-block;
    position: relative;
    background-image: url("../img/icons/mouse-icon.svg");
    background-repeat: no-repeat;
}
.scroll-down:after {
    width: 12px;
    height: 13px;
    content: "";
    position: absolute;
    left: 50%;
    top: 100%;
    background-image: url("../img/icons/arrow-down-icon.svg");
    background-repeat: no-repeat;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transition: 400ms ease;
}
.scroll-down:hover:after {
    top: calc(100% + 3px);
}
/***** BOUNDARIES SECTION *****/

#boundaries {
    height: auto;
    position: relative;
    padding: 52px 0 118px;
    background-color: #f8f7f0;
}
#boundaries:after {
    height: 20px;
    width: 100%;
    content: "";
    position: absolute;
    left: 0;
    top: -19px;
    background-image: url("../img/white-separator.png");
    background-repeat: repeat-x;
    background-size: 40px 20px;
}

@media(min-width: 1024px) {
    #boundaries {
        height: 910px;
        padding: 85px 0 135px;
        background-image: url("../img/boundaries-bg.png");
    }
}
@media(min-width: 2000px) {
    #boundaries {
        background-image: url("../img/boundaries-bg-lg.png");
    }
}
/*Slider*/

.slick-list {
    border-radius: 50%;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
    transition: 400ms ease;
}
.slick-list:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.7);
}
#boundaries-slider {
    width: 280px;
    margin: 0 auto;
}
.item img {
    width: 280px;
    height: 280px;
}

@media(min-width: 1024px) {
    #boundaries-slider {
        width: 480px;
    }
    .item img {
        width: auto;
        height: auto;
    }
    .item .hover-animation + img {
        width: 100%;
        height: 480px;
    }
}
#boundaries-slider-wrap {
    position: relative;
    display: inline-block;
}
#boundaries-slider .item {
    height: 280px;
    position: relative;
    overflow: hidden;
}
#boundaries-slider .item h2 {
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 24px;
    color: #fff;
    transition: 400ms ease;
    transform: translate(-50%, -50%) scale(0);
    -webkit-transform: translate(-50%, -50%) scale(0);
    -moz-transform: translate(-50%, -50%) scale(0);
    -ms-transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    z-index: 9;
}

@media(min-width: 1024px) {
    #boundaries-slider .item {
        height: 480px;
    }
    #boundaries-slider .item h2 {
        font-size: 36px;
    }
}
#boundaries-slider .slick-active:hover h2 {
    transform: translate(-50%, -50%) scale(1);
    -webkit-transform: translate(-50%, -50%) scale(1);
    -moz-transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}
.hover-animation {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    background-color: rgba(0, 0, 0, .5);
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    overflow: hidden;
    z-index: 9;
    transition: 400ms ease;
    opacity: 0;
}
.slick-active:hover .hover-animation {
    opacity: 1;
}
.hover-animation .lines img {
    position: absolute;
    opacity: .25;
}
.hover-animation .lines:first-child img {
    top: 0;
}
.slick-active:hover .hover-animation .lines:first-child img {
    top: -230px;
}

@media(min-width: 1024px) {
    .slick-active:hover .hover-animation .lines:first-child img {
        top: -95px;
    }
}
.hover-animation .lines:first-child img:nth-child(1) {
    right: -430px;
    transition: 700ms ease;
}
.slick-active:hover .hover-animation .lines:first-child img:nth-child(1) {
    right: 30px;
}
.hover-animation .lines:first-child img:nth-child(2) {
    right: -470px;
    transition: 650ms ease;
}
.slick-active:hover .hover-animation .lines:first-child img:nth-child(2) {
    right: -10px;
}
.hover-animation .lines:first-child img:nth-child(3) {
    right: -510px;
    transition: 600ms ease;
}
.slick-active:hover .hover-animation .lines:first-child img:nth-child(3) {
    right: -50px;
}
.hover-animation .lines:first-child img:nth-child(4) {
    right: -550px;
    transition: 550ms ease;
}
.slick-active:hover .hover-animation .lines:first-child img:nth-child(4) {
    right: -90px;
}
.hover-animation .lines:first-child img:nth-child(5) {
    right: -590px;
    transition: 500ms ease;
}
.slick-active:hover .hover-animation .lines:first-child img:nth-child(5) {
    right: -130px;
}
.hover-animation .lines:first-child img:nth-child(6) {
    right: -610px;
    transition: 450ms ease;
}
.slick-active:hover .hover-animation .lines:first-child img:nth-child(6) {
    right: -170px;
}
.hover-animation .lines:first-child img:nth-child(7) {
    right: -650px;
    transition: 400ms ease;
}
.slick-active:hover .hover-animation .lines:first-child img:nth-child(7) {
    right: -210px;
}
/*================*/

.hover-animation .lines:last-child img {
    bottom: 0;
}
.slick-active:hover .hover-animation .lines:last-child img {
    bottom: -230px;
}

@media(min-width: 1024px) {
    .slick-active:hover .hover-animation .lines:last-child img {
        bottom: -95px;
    }
}
.hover-animation .lines:last-child img:nth-child(1) {
    left: -430px;
    transition: 700ms ease;
}
.slick-active:hover .hover-animation .lines:last-child img:nth-child(1) {
    left: 30px;
}
.hover-animation .lines:last-child img:nth-child(2) {
    left: -470px;
    transition: 650ms ease;
}
.slick-active:hover .hover-animation .lines:last-child img:nth-child(2) {
    left: -10px;
}
.hover-animation .lines:last-child img:nth-child(3) {
    left: -510px;
    transition: 600ms ease;
}
.slick-active:hover .hover-animation .lines:last-child img:nth-child(3) {
    left: -50px;
}
.hover-animation .lines:last-child img:nth-child(4) {
    left: -550px;
    transition: 550ms ease;
}
.slick-active:hover .hover-animation .lines:last-child img:nth-child(4) {
    left: -90px;
}
.hover-animation .lines:last-child img:nth-child(5) {
    left: -590px;
    transition: 500ms ease;
}
.slick-active:hover .hover-animation .lines:last-child img:nth-child(5) {
    left: -130px;
}
.hover-animation .lines:last-child img:nth-child(6) {
    left: -610px;
    transition: 450ms ease;
}
.slick-active:hover .hover-animation .lines:last-child img:nth-child(6) {
    left: -170px;
}
.hover-animation .lines:last-child img:nth-child(7) {
    left: -650px;
    transition: 400ms ease;
}
.slick-active:hover .hover-animation .lines:last-child img:nth-child(7) {
    left: -210px;
}
/***** MOONBEAM SECTION *****/

#moonbeam {
    height: 480px;
    position: relative;
    padding-top: 88px;
    padding-bottom: 106px;
    z-index: 1;
    overflow: hidden;
}

@media(min-width: 1024px) {
    #moonbeam {
        height: 700px;
        padding-top: 230px;
    }
}
#moonbeam:after {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(194, 0, 47, .8);
    z-index: -9;
}
#moonbeam a {
    margin: 0 auto;
}
/*Slider Controls*/

.slick-prev, .slick-next {
    width: 60px;
    height: 30px;
    position: absolute;
    top: 50%;
    background-color: transparent;
    border: 2px solid #c2002f;
    border-radius: 15px;
    font-family: 'LoveloBlack';
    font-size: 14px;
    color: #c2002f;
    line-height: 26px;
    letter-spacing: .1em;
    text-align: center;
    transition: 400ms ease;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    cursor: pointer;
}
.slick-prev {
    left: -100px;
}
.slick-next {
    right: -100px;
}
.slick-prev:hover, .slick-next:hover {
    background-color: #c2002f;
    color: #fff;
}
/*===*/

.slick-dots {
    width: 100%;
    display: inline-block;
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}
.slick-dots li {
    display: inline-block;
}
.slick-dots button {
    width: 10px;
    height: 10px;
    position: relative;
    padding: 0 20px;
    background-color: transparent;
    border: none;
    font-size: 0;
    transition: 400ms ease;
    cursor: pointer;
}
.slick-dots button:after {
    width: 10px;
    height: 10px;
    content: "";
    position: absolute;
    left: 15px;
    top: 0;
    //background-color: #666666;
    background-color: #cccccc;
    border-radius: 50%;
}
.slick-dots .slick-active button:after {
    background-color: #cccccc;
}
/***** PANORAMA *****/

#moonbeam-panorama {
    height: 1280px;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    cursor: move;
    transform: translate(-50%, -50%);
    z-index: -9;
}

@media(min-width: 1366px) {
    #moonbeam-panorama {
        width: 1366px;
    }
}
/***** Listings SECTION *****/

#testimonials {
    padding-bottom: 58px;
    padding-top: 68px;
    background-color: #f8f7f0;
}
#testimonials .header-title {
    margin-bottom: 4px;
}
#testimonials .short-detail {
    margin-bottom: 36px;
}

@media(min-width: 1024px) {
    #testimonials {
        padding-bottom: 110px;
        padding-top: 85px;
    }
    #testimonials .header-title {
        margin-bottom: -5px;
    }
}
/*pagination Scroll*/

.pagination-scroll {
    height: 10px;
    width: 10px;
    position: absolute;
    display:none;
    bottom: 71px;
    left: auto;
    background-color: #C2002F;
    border: 1px solid #C2002F;
    border-radius: 50%;
    transition: 300ms ease-in-out;
}

@media(min-width: 1024px) {
    .pagination-scroll {
        position: absolute;
        bottom: 100px;
        left: auto;
    }
}
