#partner {
    padding-top: 62px;
    padding-bottom: 20px;
}

#partner .short-detail {
    margin: 0 auto 56px;
}

#partner-content {
    padding-top: 34px;
}

#partner article {
    margin-bottom: 66px;
    vertical-align: top;
}

@media(min-width: 1024px) {
    #partner {
        padding-top: 84px;
        padding-bottom: 88px;
    }
    #partner-content {
        padding-top: 10px;
    }
    #partner article {
        display: inline-block;
        width: 33%;
        margin-bottom: 68px;
    }
}

@media(min-width: 1366px) {
    #partner article {
        width: 25%;
    }
}

#partner-content .partner-logo {
    width: 280px;
    height: 180px;
    margin-bottom: 42px;
}

#partner-content h4 {
    margin-bottom: 26px;
}

#partner-content span {
    width: 100%;
    display: inline-block;
    line-height: 27px;
}
