#profile {
    padding-top: 62px;
    padding-bottom: 46px;
}

#profile-content {
    padding-top: 12px;
}

#profile article {
    margin-bottom: 40px;
    padding: 0 15px;
     vertical-align: top;
}

@media(min-width: 1024px) {
    #profile {
        padding-top: 84px;
        padding-bottom: 128px;
    }
    #profile-content {
        padding-top: 40px;
    }
    #profile article {
        display: inline-block;
        width: 25%;
        margin-bottom: 40px;
        padding: 0 20px;
    }
}

#profile-content .icon {
    width: 100px;
    height: 100px;
    margin: 0 auto 32px;
    background-repeat: no-repeat;
    background-position: center;
}

#profile-content article:nth-child(1) .icon {
    background-image: url("../img/icons/icon-company-vision.svg");
}

#profile-content article:nth-child(2) .icon {
    background-image: url("../img/icons/icon-why-us.svg");
}

#profile-content article:nth-child(3) .icon {
    background-image: url("../img/icons/icon-about.svg");
}

#profile-content article:nth-child(4) .icon {
    background-image: url("../img/icons/icon-history.svg");
}

#profile-content h4 {
    margin-bottom: 28px;
}

#profile-content p {
    line-height: 27px;
}
