/*******************
 *     Generic     *
 *******************/
strong {
	color: rgb(24, 88, 159); /* dark blue */
}
a:link,
a:visited {
	color: rgb(24, 88, 159); /* dark blue */
	-webkit-transition: color 0.2s ease 0s;
	transition: color 0.2s ease 0s;
}
a:hover,
a:active {
	color: rgb(181, 205, 224); /* light blue */
}
p {
	color: rgb(181, 205, 224); /* light blue */
}

/*******************
 *  Form Elements  *
 *******************/
input, textarea, label {
	color: rgb(181, 205, 224); /* light blue */
}
label.error {
	color: rgb(239, 67, 60); /* red */
}

input[type=radio]:checked + label,
input[type=checkbox]:checked + label {
	color: rgb(24, 88, 159); /* dark blue */
}
td.input {
	color: rgb(181, 205, 224);
}
/** Custom dropbox **/
.dropbox {
	color: rgb(24, 88, 159); /* dark blue */
}
.dropbox-select {
	color: rgb(24, 88, 159); /* dark blue */
}
.dropbox-option {
	color: rgb(181, 205, 224); /* light blue */
}
.dropbox-option:hover {
	color: rgb(24, 88, 159); /* dark blue */
}

/* Custom range input */
input[type=range]::-webkit-slider-runnable-track {
	background-color: rgb(181, 205, 224); /* light blue */
}
input[type=range]::-webkit-slider-thumb {
	background: rgb(24, 88, 159); /* dark blue */
	box-shadow: 0 0 0 3px rgb(181, 205, 224) inset;  /* light blue */
}
input[type=range]::-moz-range-track {
	background-color: rgb(181, 205, 224); /* light blue */
}
input[type=range]::-moz-range-thumb {
	background: rgb(24, 88, 159); /* dark blue */
	box-shadow: 0 0 0 3px rgb(181, 205, 224) inset; /* light blue */
}
input[type=range]::-ms-track {
	background-color: rgb(181, 205, 224); /* light blue */
	color: transparent; /*remove default tick marks*/
	box-shadow: 0 0 0 10px rgb(255, 255, 255) inset;
}
input[type=range]::-ms-fill-lower {
	background: rgba(24, 88, 159, 0.5); /* dark blue */
	box-shadow: 0 0 0 10px rgb(255, 255, 255) inset;
}
input[type=range]::-ms-thumb {
	background: rgb(24, 88, 159); /* dark blue */
	box-shadow: 0 0 0 3px rgb(181, 205, 224) inset;  /* light blue */
}

button {
	color: rgb(255, 255, 255);
	background-color: rgb(181, 205, 224); /* light blue */
	-webkit-transition: background-color 0.2s ease 0s;
	transition: background-color 0.2s ease 0s;
}
button:hover {
	background-color: rgb(24, 88, 159); /* dark blue */
}
button:active {
	background-color: rgb(24, 88, 159); /* dark blue */
}
button:disabled {
	background-color: rgba(181, 205, 224, 0.5); /* light blue */
	-webkit-transition: background-color 0.1s ease 0s;
	transition: background-color 0.1s ease 0s;
}

.form-message {
	color: rgb(24, 88, 159); /* dark blue */
}
/************
 *  Header  *
 ************/
header {
	background-color: rgb(181, 205, 224); /* light blue */
}
#start-button {
	background-color: rgb(24, 88, 159); /* dark blue */
}
#user-controls > a {
	color: rgb(255, 255, 255); /* white */
}
#user-controls > a:hover,
#user-controls > a:active {
	color: rgb(24, 88, 159); /* dark blue */
}

/************
 *  Footer  *
 ************/
footer {
	background-color: rgb(181, 205, 224); /* light blue */
}
.footer-section > a:hover {
	color: rgb(24, 88, 159); /* dark blue */
}

/**************
 *  Overlays  *
 **************/
#login-overlay > form {
	box-shadow: 2px 2px 5px 0px rgba(24, 88, 159, 0.25);
}
#login-overlay > form > label {
	color: rgb(24, 88, 159); /* dark blue */
}
#login-overlay > form > input:not([type=checkbox]) {
	background-color: rgb(24, 88, 159); /* dark blue */
}
#login-overlay > form > input:not([type=checkbox]).error {
	background-color: rgb(239, 67, 60); /* red */
}

/*****************
 *  Breadcrumbs  *
 *****************/
.breadcrumbs {
	border-top:1px solid rgb(181, 205, 224); /* light blue */
	border-bottom:1px solid rgb(181, 205, 224); /* light blue */	
}
.breadcrumb,
.breadcrumb.current,
.breadcrumb:link,
.breadcrumb:visited {
	color: rgb(181, 205, 224); /* light blue */
}
.breadcrumb:hover,
.breadcrumb:active {
	color: rgb(24, 88, 159); /* dark blue */
}
#search-text {
	color: rgb(24, 88, 159); /* dark blue */
}
#search-text::-webkit-input-placeholder { /* WebKit browsers */
	color: rgb(181, 205, 224); /* light blue */	
}
#search-text::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: rgb(181, 205, 224); /* light blue */	
}
#search-text:-ms-input-placeholder { /* Internet Explorer 10+ */
	color: rgb(181, 205, 224); /* light blue */	
}
#search-text:focus::-webkit-input-placeholder { color:transparent; }
#search-text:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
#search-text:focus:-ms-input-placeholder { color:transparent; }

#back-to-top-button {
	color: rgb(181, 205, 224); /* light blue */
}
#back-to-top-button:hover {
	color: rgb(24, 88, 159); /* dark blue */
}

/***************
 *   Results   *
 ***************/
#result-section {
	background-color: rgb(181, 205, 224); /* light blue */
}
#result-table > thead td {
	color: rgb(24, 88, 159); /* dark blue */
}
#result-table > tbody td{
	color: rgb(181, 205, 224); /* light blue */	
}

/******************************
 *   Staff Fabric Properties Button *
 ******************************/
a.project-button {
	color: rgb(255, 255, 255);
	background-color: rgb(181, 205, 224); /* light blue */
	-webkit-transition: background-color 0.2s ease 0s;
	transition: background-color 0.2s ease 0s;
}
a.project-button:hover {
	color: rgb(255, 255, 255);
	background-color: rgb(24, 88, 159); /* dark blue */
}
a.project-button.active {
    background: rgb(24, 88, 159);
}
/******************************
 *   Results section customer *
 ******************************/
#result-section-customer {
	background-color: rgb(181, 205, 224); /* light blue */
}
#result-table-customer > thead td {
	color: rgb(24, 88, 159); /* dark blue */
}
#result-table-customer > tbody td{
	color: rgb(181, 205, 224); /* light blue */	
}
/******************************
 *   Results section manage fabric collar image *
 ******************************/
#result-section-collar > thead td {
	color: rgb(24, 88, 159); /* dark blue */
}
#result-section-collar > tbody td{
	color: rgb(181, 205, 224); /* light blue */	
}
/******************************
 *   Results section for manage fabric cuff image *
 ******************************/
#result-section-cuff > thead td {
	color: rgb(24, 88, 159); /* dark blue */
}
#result-section-cuff > tbody td{
	color: rgb(181, 205, 224); /* light blue */	
}

/******************************
 *   Results section order listing *
 ******************************/
#result-section-order-cart {
	background-color: rgb(181, 205, 224); /* light blue */
}
#result-table-order-cart > thead td {
	color: rgb(24, 88, 159); /* dark blue */
}
#result-table-order-cart > tbody td{
	color: rgb(181, 205, 224); /* light blue */	
}
.simple-pagination > .current {
	color: rgb(24, 88, 159); /* dark blue */
}
.simple-pagination > .page-link:hover {
	color: rgb(24, 88, 159); /* dark blue */
}
.results-per-page > .current {
	color: rgb(24, 88, 159); /* dark blue */
}
.results-per-page > .per-page:hover {
	color: rgb(24, 88, 159); /* dark blue */
}

#result-section-order-item {
	background-color: rgb(181, 205, 224); /* light blue */
}
#result-table-order-item > thead td {
	color: rgb(24, 88, 159); /* dark blue */
}
#result-table-order-item > tbody td {
	color: rgb(181, 205, 224);
}

.confirm-yes:hover,
.confirm-no:hover {
	color: rgb(24, 88, 159);
}

/****************
 *   Settings   *
 ****************/
.setting-section h2 {
	background-color: rgb(24, 88, 159); /* dark blue */
}
.setting-section p {
	color: rgb(24, 88, 159); /* dark blue */
}

/****************************
 * Specific Page: Dashboard *
 ****************************/
#activity-log > h2,
.module > h2 {
	background-color: rgb(24, 88, 159); /* dark blue */
}
.activity > .user-email {
	color: rgb(181, 205, 224); /* light blue */
}
.activity > .user-email:hover {
	color: rgb(24, 88, 159); /* dark blue */
}

/* Overlay */
#overlay-modules > .module.drag-target {
	background-color: rgb(204, 204, 204);
}
#overlay-modules > .module.drag-target > h2 {
	background-color: rgba(24, 88, 159, 0.5);
}
#overlay-modules > .module.drop-target {
	border: 5px solid rgb(181, 205, 224);
	background-color: rgb(181, 205, 224);
}

/********************************
 * Specific Page: Image Library *
 ********************************/
#image-library > figure {
	border: 1px solid rgb(181, 205, 224); /* light blue */	
}
#image-library > figure > .file-name {
	background: rgba(24, 88, 159, 0.75); /* dark blue */
}
#image-library > figure > .actions-overlay {
	background: rgba(24, 88, 159, 0.75); /* dark blue */
}
.img-holder {
	border: 1px solid rgb(181, 205, 224);
}


/****************************
 *  Specific Page: Product  *
 ****************************/
.specifications-table tr {
	border-top: 1px solid rgb(181, 205, 224); /* light blue */
	border-right: 1px solid rgb(181, 205, 224); /* light blue */
}
.specifications-table td {
	color: rgb(153, 153, 153);
	border-left: 1px solid rgb(181, 205, 224); /* light blue */
	border-bottom: 1px solid rgb(181, 205, 224); /* light blue */
}

#edit-product-image-file-name,
#add-product-image-file-name {
	color: rgb(24, 88, 159); /* dark blue */
}

/*************************************
 *  Specific Page: Account Settings  *
 *************************************/
#edit-account-info-form input{
	color: rgb(24, 88, 159); /* dark blue */
}


/******************************
 *  Specific Page: Catalogue  *
 ******************************/
.browse-file-button {
	color: rgb(24, 88, 159); /* dark blue */
}

/*************************************
 *  Specific Page: Customer  *
 *************************************/
#credit-section {
	background-color: rgb(181, 205, 224); /* light blue */
}
.credit-list-pagination > .credit-list-current {
	color: rgb(24, 88, 159); /* dark blue */
}
#credit-listing {
	color: rgb(24, 88, 159); /* dark blue */	
}
#credit-listing > thead td {
	color: rgb(24, 88, 159); /* dark blue */
}
#credit-listing > tbody td{
	color: rgb(181, 205, 224); /* light blue */	
}
/**********************
 *   Popup Response   *
 **********************/
.popup-content h2 {
	background-color: rgb(24, 88, 159); /* dark blue */
}
.edit-fabric-link {
	color: rgb(255, 255, 255);
	background-color: rgb(181, 205, 224); /* light blue */
	-webkit-transition: background-color 0.2s ease 0s;
	transition: background-color 0.2s ease 0s;
}
.edit-fabric-link:hover,
.popup-header > .active {
	color: rgb(255, 255, 255);
	background-color: rgb(24, 88, 159); /* dark blue */
}

.popup-setting-section > thead td,
.pop-result-table > thead td{
	color: rgb(24, 88, 159); /* dark blue */
}
.pop-result-table > tbody td{
	color: rgb(181, 205, 224); /* light blue */	
}
.results-per-page-collar > .current, .simple-pagination-collar > .current-collar {
	color: rgb(24, 88, 159); /* dark blue */
}
.results-per-page-cuff > .current, .simple-pagination-cuff > .current-cuff {
	color: rgb(24, 88, 159); /* dark blue */
}
/********************
 *   Loading Ajax   *
 ********************/
.loading-img {
	background:url(../../img/staff/rubrik.gif) no-repeat center;
}