/***** Account Setting CSS Starts Here *****/
#content{
	position:relative;
	z-index: 1;
}
.account-form-grid {
	width: 280px;
	display: inline-block;
	margin-right: 40px;
	position: relative;
	vertical-align: top;
}
.account-form-grid:last-child {
	margin-right: 0;
}
.form-title {
	padding-bottom: 13px;
	margin-bottom: 33px;
	border-bottom: 1px solid rgb(122,119,97);
	font-size: 14px;
	text-transform: uppercase;
	color: rgb(222,209,166);
	line-height: 1;
}
.form-sub-title {
	display: inline-block;
	margin: 7px 0 18px;
	font-size: 14px;
	color: rgb(122,119,97);
	line-height: 1;
}
#change-password {
	margin-bottom: 60px;
}
.change-form-holder, .account-form-holder, .newsletter-form-holder {
	width: 100%;
	display: inline-block;
	position: relative;
	margin-bottom: 14px;
}
.newsletter-form-holder {
	height: 23px;
	margin-bottom: 17px;
	cursor: pointer;
}
.account-btn-holder {
	width: 100%;
	display: inline-block;
	position: relative;
	margin-top: 5px;
	font-size: 16px;
}
.change-form-holder label, .account-form-holder label {
	display: inline-block;
	font-size: 14px;
	color: rgb(122,119,97);
	vertical-align: middle;
}
.change-form-holder label {
	width: 120px;
}
.account-form-holder label {
	width: 87px;
}
.change-form-holder input[type=password] {
	width: 160px;
	height: 26px;
	display: inline-block;
	padding: 0 7px;
	margin: 0;
	border-radius: 1px;
	border: 1px solid rgb(221, 221, 212);
	background: rgb(255,255,255);
}
.account-form-holder input[type=text], .account-form-holder input[type=email], .account-form-holder input[type=password] {
	width: 193px;
	height: 26px;
	display: inline-block;
	padding: 0 7px;
	margin: 0;
	border-radius: 1px;
	border: 1px solid rgb(221, 221, 212);
	background: rgb(255,255,255);
	color: rgb(68,68,68);
}
.account-btn {
	padding: 0 14px;
	border: none;
	background: none;
	color: rgb(255,255,255);
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	cursor: pointer;
}
.account-btn:first-child {
	padding-left: 0;
}
.change-form-holder > .input-error {
	width: 160px;
}
input[type="text"].input-type-error, input[type="email"].input-type-error, input[type="password"].input-type-error {
	border-color: rgb(255,0,0);
	color: rgb(255,0,0);
}
.input-error {
	width: 193px;
	height: 26px;
	position: absolute;
	top: 40px;
	right: 0;
	padding: 8px 10px 0;
	background-color: rgb(122,119,97);
	font-size: 12px;
	color: rgb(222,209,166);
	text-align: left;
	z-index: 9;
}
.input-error:before {
	width: 0;
	height: 0;
	content: "";
	position: absolute;
	top: -6px;
	left: 10px;
	border-right: 6px solid transparent;
	border-bottom: 6px solid rgb(122,119,97);
	border-left: 6px solid transparent;
}
/**** Rounded Radio CSS ****/
#newsletter-option1, #newsletter-option2 {
	visibility: hidden;
	margin: 0;
}
.round-radio {
	width: 20px;
	height: 20px;
	display: inline-block;
	position: relative;
	top: 2px;
	left: 0;
	background-color: rgb(122,119,97);
	border-radius: 100%;
	vertical-align: top;
}
.round-radio label {
	width: 14px;
	height: 14px;
	position: absolute;
	top: 3px;
	left: 3px;
	background-color: rgb(41,38,37);
	border-radius: 100%;
	cursor: pointer;
}
.round-radio label:after {
	width: 8px;
	height: 8px;
	content: '';
	position: absolute;
	top: 3px;
	left: 3px;
	background-color: rgb(41,38,37);
	border-radius: 100%;
	opacity: 0;
}
.round-radio label:hover::after {
	opacity: 1;
}
.round-radio input[type=radio]:checked + label:after {
	background-color: rgb(222,209,166);
	opacity: 1;
}
.newsletter-form-holder > .radio-label {
	width: auto;
	display: inline-block;
	margin-top: 5px;
	margin-left: 14px;
	color: rgb(122, 119, 97);
	cursor: pointer;
}
/*****  Selectric Custom Select CSS *****/
.selectricWrapper {
	width: 193px;
	display: inline-block;
	position: relative;
	vertical-align: middle;
	cursor: pointer;
}
.selectric {
	position: relative;
	border-radius: 0;
	background: rgb(255,255,255);
	box-shadow: inset 0 0 0 1px rgba(221,221,212,1);
}
.input-type-error .selectric {
	box-shadow: inset 0 0 0 1px rgba(255,0,0,1);
}
.selectric .label {
	min-height: 12px;
	display: inline-block;
	padding: 6px;
	margin: 0 30px 0 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 12px;
	color: rgb(68,68,68);
	white-space: nowrap;
	overflow: hidden;
}
.selectric .button {
	width: 26px;
	height: 26px;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	color: rgb(122, 119, 97);
	text-align: center;
	font: 0/0 a;
  /* IE Fix */
  *font: 20px/30px Lucida Sans Unicode, Arial Unicode MS, Arial;
}
.selectric .button:after {
	width: 0;
	height: 0;
	content: " ";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	border: 4px solid transparent;
	border-top-color: rgb(122, 119, 97);
	border-bottom: none;
}
.selectricOpen {
	z-index: 9999;
}
.selectricOpen .selectric {
	border-color: rgb(204, 204, 204);
	background: rgb(240, 240, 240);
}
.selectricOpen .selectricItems {
	display: block;
}
.selectricDisabled {
	filter: alpha(opacity=50);
	opacity: 0.5;
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.selectricHideSelect {
	width: 0;
	height: 0;
	position: relative;
	overflow: hidden;
}
.selectricHideSelect select {
	display: none;
	position: absolute;
	left: -100%;
}
.selectricInput {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	margin: 0;
	padding: 0;
	width: 1px;
	height: 1px;
	outline: none;
	border: none;
 *font: 0/0 a;
	background: none;
}
.selectricTempShow {
	position: absolute;
	visibility: hidden;
	display: block;
}
/* Items box */
.selectricItems {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	background: rgb(249,249,249);
	border: 1px solid rgb(204,204,204);
	z-index: -1;
	box-shadow: 0 0 10px -6px rgba(0,0,0,0.4);
}
.selectricItems .selectricScroll {
	height: 100%;
	overflow: auto;
}
.selectricAbove .selectricItems {
	top: auto;
	bottom: 100%;
}
.selectricItems ul, .selectricItems li {
	min-height: 20px;
	padding: 0;
	margin: 0;
	list-style: none;
	font-size: 12px;
	line-height: 20px;
}
.selectricItems li {
	display: block;
	padding: 5px;
	border-top: 1px solid rgb(255,255,255);
	border-bottom: 1px solid rgb(238,238,238);
	color: #666;
	cursor: pointer;
}
.selectricItems li.selected {
	background: rgb(239,239,239);
	color: rgb(68,68,68);
	border-top-color: rgb(224,224,224);
}
.selectricItems li:hover {
	background: rgb(240,240,240);
	color: rgb(68,68,68);
}
.selectricItems li.disabled {
	background: rgb(245,245,245);
	color: rgb(187,187,187);
	border-top-color: rgb(250,250,250);
	cursor: default;
}
/**** Different Date Select CSS ****/
.selectric-personal-birth-date-day {
	width: 50px;
	margin-right: 10px
}
.selectric-personal-birth-date-mon {
	width: 50px;
	margin-right: 10px
}
.selectric-personal-birth-date-year {
	width: 73px;
}
