.panaroma-loader-wrap {
	width: 100%;
	height: 100%;
	display: none;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,.7);
	z-index: 1;
}
/*.panaroma-loader {

    border: 16px solid #f3f3f3;

    border-radius: 50%;

    border-top: 16px solid rgb(194, 0, 47);

    width: 50px;

    height: 50px;

    -webkit-animation: spin 2s linear infinite;

    animation: spin 2s linear infinite;

}

*/

.panaroma-loader-show {
	display: flex;
}
/*Loader*/

.spinner {
	margin: 100px auto;
	width: 50px;
	height: 40px;
	text-align: center;
	font-size: 10px;
}
.spinner > div {
	background-color: #fff;
	height: 100%;
	width: 6px;
	display: inline-block;
	-webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
	animation: sk-stretchdelay 1.2s infinite ease-in-out;
}
.spinner .rect2 {
	-webkit-animation-delay: -1.1s;
	animation-delay: -1.1s;
}
.spinner .rect3 {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}
.spinner .rect4 {
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s;
}
.spinner .rect5 {
	-webkit-animation-delay: -0.8s;
	animation-delay: -0.8s;
}
 @-webkit-keyframes sk-stretchdelay {
 0%, 40%, 100% {
-webkit-transform: scaleY(0.4)
}
 20% {
-webkit-transform: scaleY(1.0)
}
}
 @keyframes sk-stretchdelay {
 0%, 40%, 100% {
 transform: scaleY(0.4);
 -webkit-transform: scaleY(0.4);
}
20% {
 transform: scaleY(1.0);
 -webkit-transform: scaleY(1.0);
}
}
 @-webkit-keyframes spin {
 0% {
-webkit-transform: rotate(0deg);
}
 100% {
-webkit-transform: rotate(360deg);
}
}
 @keyframes spin {
 0% {
transform: rotate(0deg);
}
 100% {
transform: rotate(360deg);
}
}
/*Loader*/





#project {
	position: relative;
}
#project .container {
	position: relative;
	padding: 0 20px;
}
#project-title {
	width: 100%;
	height: 70px;
	position: absolute;
	top: 0;
	left: 0;
	padding: 18px 0;
	background-color: #000;
	text-align: center;
	z-index: 1;
}
#level {
	display: none;
}
#title-options {
	left: 63px;
}
#title-options h3 {
	width: 100%;
	display: inline-block;
	font-size: 18px;
	vertical-align: middle;
	line-height: 32px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
#title-options a {
	width: 30px;
	height: 30px;
	margin-left: 10px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 30px;
	display: inline-block;
	vertical-align: middle;
}
#title-options a:first-child {
	margin: 0;
}

@media(min-width: 1024px) {
#project-title {
	height: 100px;
	padding: 30px 63px;
	text-align: right;
}
#level {
	display: inline-block;
	margin-left: 39px;
	vertical-align: middle;
}
#title-options {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
}
#title-options h3 {
	font-size: 24px;
}
#title-options a {
	width: 40px;
	height: 40px;
	margin-left: 10px;
	background-size: 40px;
}
#title-options a:last-child {
	margin-left: 10px;
}
}
#title-options #search {
	width: 200px;
	padding: 0 0 0 40px;
	border-radius: 20px;
	background-color: rgba(255, 255, 255, 0.15);
	background-image: url("../img/icons/search-icon.svg");
	background-position: left center;
	text-align: left;
}
#info {
	background-image: url("../img/icons/info-icon.svg");
}
#blueprint {
	background-image: url("../img/icons/blueprint-icon.svg");
}
/***** SLIDER *****/



#project-slider img {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}
#project-slider, #project-slider .item.slick-slide {
	height: 285px;
	overflow: hidden;
}
.slider-text {
	display: none;
}

@media(min-width: 768px) {
#project-slider, #project-slider .item.slick-slide {
	height: 465px;
}
}

@media(min-width: 1024px) {
#project-slider, #project-slider .item.slick-slide {
	height: 768px;
}
.slider-text {
	width: 100%;
	display: inline-block;
	position: absolute;
	left: 0;
	bottom: 0;
	padding-bottom: 74px;
	padding-top: 112px;
	background-color: rgba(0, 0, 0, .75);
	transition: 400ms ease;
	z-index: 99;
}
.modal-active .slider-text {
	background-color: rgba(0, 0, 0, .2);
}
#title-options #search {
	width: auto;
	padding: 4px 10px 4px 60px;
}
#title-options a {
	margin-left: 20px;
}
}

@media(min-width: 1366px) {
#project-slider, #project-slider .item.slick-slide {
	height: 937px;
}
}
.slider-text p {
	line-height: 27px;
	max-height: 50px;
	overflow: hidden;
}
/*Slider Controls*/



#slider-controls {
	width: 100%;
	height: 100px;
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 0;
	transition: 400ms ease;
}
.slick-prev, .slick-next {
	width: 12px;
	height: 20px;
	display: inline-block !important;
	position: relative;
	top: auto;
	border: none;
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: 12px 20px;
	font-family: 'LoveloBlack';
	font-size: 14px;
	color: #c2002f;
	line-height: 26px;
	letter-spacing: .1em;
	text-align: center;
	transition: 400ms ease;
	vertical-align: middle;
	opacity: 0.75;
	cursor: pointer;
}
.slick-prev {
	background-image: url(../img/icons/icon-arrow.svg);
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
}
.slick-next {
	background-image: url(../img/icons/icon-arrow.svg);
}
.slick-arrow {
	opacity: 0.5;
}
.slick-next:hover,  .slick-next:focus,  .slick-prev:hover,  .slick-prev:focus {
	opacity: 0.8;
}
#slider-controls #level-bottom {
	width: 100%;
	display: inline-block;
	margin: 9px 0 -1px 0;
	padding: 0 15px;
	font-size: 18px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.pagination-count {
	display: none;
	margin: 0 26px;
	color: rgb(255, 255, 255);
	font-family: "LoveloBlack";
	font-size: 24px;
	letter-spacing: 4px;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
	vertical-align: middle;
}
#slider-controls .pagination-count {
	display: inline-block;
}

@media(min-width: 1024px) {
#slider-controls {
	height: auto;
	bottom: 167px;
	padding: 0;
	background-color: transparent;
}
.slick-prev,  .slick-next {
	width: 48px;
	height: 80px;
	position: absolute;
	top: -280px;
	background-size: 48px 80px;
}
.slick-prev {
	left: 52px;
}
.slick-next {
	right: 52px;
}
#slider-controls #level-bottom {
	display: none;
	font-size: 24px;
}
.pagination-count {
	font-size: 24px;
	display: inline-block;
	position: absolute;
	bottom: 260px;
	left: 50%;
	margin: 0;
	transform: translate(-50%);
	-webkit-transform: translate(-50%);
	-moz-transform: translate(-50%);
	-ms-transform: translate(-50%);
	-o-transform: translate(-50%);
}
#slider-controls .pagination-count {
	display: none;
}
}

@media(min-width: 1366px) {
#slider-controls {
	bottom: 170px;
}
.slick-prev,  .slick-next {
	top: -350px;
}
}
/*===*/



#pagination {
	display: none;
}

@media(min-width: 1024px) {
#pagination {
	display: inline-block;
	margin: 0 20px;
	vertical-align: bottom;
}
}
.slick-dots {
	width: 100%;
	display: inline-block;
}
.slick-dots li {
	display: inline-block;
}
.slick-dots button {
	width: 36px;
	height: 43px;
	position: relative;
	margin: 0 2px;
	background-color: transparent;
	border: none;
	font-size: 0;
	transition: 400ms ease;
	cursor: pointer;
	vertical-align: bottom;
}
.slick-dots button:after {
	width: 10px;
	height: 10px;
	content: "";
	position: absolute;
	left: 50%;
	top: 24px;
	background-color: #666;
	border-radius: 50%;
	transition: 400ms ease;
	transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
}
.slick-dots button {
}
.slick-dots .slick-active button, .slick-dots button:hover {
	border: none;
	background-color: transparent;
}
.slick-dots button:hover:after {
	background-color: #c2002f;
}
.slick-dots button.panorama-nav {
	background-image: url("../img/icons/panaromic-pagination.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 36px 43px;
}
.slick-dots .slick-active button.panorama-nav, .slick-dots button.panorama-nav:hover {
	border: none;
	background-color: transparent;
 //background-image: url("../img/icons/panaromic-pagination-active.svg");
}
/***** PANORAMA *****/



#project-panorama {
	height: 570px;
	width: 100%;
	display: inline-block;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	cursor: move;
}

@media(min-width: 1024px) {
#project-panorama {
	height: 1280px;
}
}
/***** MODAL *****/

#magnifyImg-modal {
	/* Set up proportionate scaling */

	width: 100%;
	height: 100%;
	/* Set up positioning */

	position: fixed;
	top: 0;
	overflow: auto;
 //left: 0;
}
#magnifyImg-modal img {
	width: 100%;
	transition: 300ms ease;
}
.gm-style-iw {
	color: #000 !important;
}
.modal-wrap {
	width: 100%;
	position: absolute;
	left: 50%;
	top: 0;
	background-color: rgba(0, 0, 0, 1);
	border-radius: 0;
	transform: translateX(-50%) scale(0);
	-moz-transform: translateX(-50%) scale(0);
	-webkit-transform: translateX(-50%) scale(0);
	-ms-transform: translateX(-50%) scale(0);
	transition: 250ms ease;
	z-index: 7;
	overflow: hidden;
}
#search-modal.modal-wrap.active, #info-modal.modal-wrap.active, #blueprint-modal.modal-wrap.active, #map-modal.modal-wrap.active {
	top: 0;
	transform: translateX(-50%) scale(1);
	-moz-transform: translateX(-50%) scale(1);
	-webkit-transform: translateX(-50%) scale(1);
	-ms-transform: translateX(-50%) scale(1);
}
#magnifyImg-modal.modal-wrap {
	transform: translateX( -50%) scale(0);
	-moz-transform: translateX( -50%) scale(0);
	-webkit-transform: translateX( -50%) scale(0);
	-ms-transform: translateX( -50%) scale(0);
}
#magnifyImg-modal.modal-wrap.active {
	transform: translateX( -50%) scale(1);
	-moz-transform: translateX( -50%) scale(1);
	-webkit-transform: translateX( -50%) scale(1);
	-ms-transform: translateX( -50%) scale(1);
}
.button.modal-button {
	width: 80px;
	position: absolute;
	left: 20px;
	top: 40px;
	border-color: rgb(194, 0, 47);
	background-color: rgb(194, 0, 47);
}
.button.modal-button img {
	width: auto;
	height: 18px;
	height: auto;
	display: inline-block;
	margin: 0 4px 0 0;
	vertical-align: middle;
}
.button.modal-button.btn-magnify {
	width: auto;
	padding: 0 10px;
}
.modal-close {
	width: 30px;
	height: 30px;
	position: absolute;
	top: 40px;
	right: 20px;
	background-color: transparent;
	background-image: url("../img/icons/modal-close.svg");
	background-repeat: no-repeat;
	background-position: center;
	border: none;
	font-size: 0;
	cursor: pointer;
	z-index: 99;
}
.modal-img {
	width: 168px;
	height: 168px;
	margin: 70px auto 26px;
	border: 4px solid #fff;
	border-radius: 50%;
}
.btn-rotate {
	width: 30px;
	position: absolute;
	left: 40px;
	top: 40px;
	background-color: rgba(0, 0, 0, 0);
	border: none;
	cursor: pointer;
	z-index: 99;
}
.btn-rotate:hover img,  .btn-rotate.active img {
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
}
#magnifyImg-modal .text-center.white {
	width: 100%;
	margin: 0 auto;
}
#high-image {
	transform-origin: center center; /* IE 10+, Firefox, etc. */
	-webkit-transform-origin: center center; /* Chrome */
	-ms-transform-origin: center center; /* IE 9 */
}
#high-image.rotate90 {
	transform: translateY(50%) rotate(90deg);
	-webkit-transform: translateY(50%) rotate(90deg);
	-ms-transform: translateY(50%) rotate(90deg);
}
#high-image.rotate180 {
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
}
#high-image.rotate270 {
	transform: translateY(50%) rotate(270deg);
	-webkit-transform: translateY(50%) rotate(270deg);
	-ms-transform: translateY(50%) rotate(270deg);
}
.modal-active #popup-wrapper {
	z-index: 7;
	transform: scale(1);
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
}
#popup-wrapper {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.85);
	position: fixed;
	left: 0;
	top: 0;
	overflow: auto;
	transform: scale(0);
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
}
#search-modal.modal-wrap.active.middle,  #info-modal.modal-wrap.active.middle,  #blueprint-modal.modal-wrap.active.middle,  #map-modal.modal-wrap.active.middle {
	top: 50%;
	transform: translate(-50%, -50%) scale(1);
	-moz-transform: translate(-50%, -50%) scale(1);
	-webkit-transform: translate(-50%, -50%) scale(1);
	-ms-transform: translate(-50%, -50%) scale(1);
}

@media(min-width: 1024px) {
.modal-wrap {
	width: 800px;
	padding: 40px;
	top: 50%;
	left: 50%;
 //background-color: rgba(0, 0, 0, .8);
	border-radius: 10px;
	transform: translate(-50%, -50%) scale(0);
	-moz-transform: translate(-50%, -50%) scale(0);
	-webkit-transform: translate(-50%, -50%) scale(0);
	-ms-transform: translate(-50%, -50%) scale(0);
}
#search-modal.modal-wrap.active, #info-modal.modal-wrap.active, #blueprint-modal.modal-wrap.active, #map-modal.modal-wrap.active {
	top: 30px;
}
.button.modal-button {
	left: 40px;
}
.modal-close {
	right: 40px;
}
.modal-img {
	margin: 30px auto 26px;
}
}
.modal-title-wrap {
	width: 100%;
	margin-bottom: 8px;
	overflow: hidden;
}
.modal-title {
	position: relative;
	display: inline-block;
	font-size: 18px;
	line-height: 38px;
}

@media(min-width: 1024px) {
.modal-title {
	font-size: 24px;
	line-height: 36px;
}
}
.modal-title:after, .modal-title:before {
	height: 4px;
	width: 800px;
	content: "";
	position: absolute;
	bottom: 10px;
	background-color: rgba(255, 255, 255, .05);
}
.modal-title:after {
	left: calc(100% + 20px);
}
.modal-title:before {
	right: calc(100% + 20px);
}
.address {
	margin-bottom: 30px;
}
/***** SEARCH *****/



#up, #down {
	width: 20px;
	height: 10px;
	position: absolute;
	left: 50%;
	background-image: url("../img/icons/arrow-up-white.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-color: transparent;
	border: none;
	font-size: 0;
	cursor: pointer;
}
#up {
	transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	top: 358px;
}
#down {
	top: 712px;
	transform: translateX(-50%) rotate(180deg);
	-moz-transform: translateX(-50%) rotate(180deg);
	-webkit-transform: translateX(-50%) rotate(180deg);
	-ms-transform: translateX(-50%) rotate(180deg);
}
#listing a {
	width: 100%;
	display: inline-block;
	color: #fff;
}
#listing a:nth-child(2n) {
	background-color: rgba(255, 255, 255, .1)
}
#listing a:nth-child(2n+1) {
	background-color: rgba(255, 255, 255, .07)
}
#listing blockquote {
	height: 80px;
}
#listing blockquote h5 {
	padding-top: 20px;
	line-height: 18px;
}
#listing blockquote p {
	width: 100%;
	padding: 0 11px;
	font-size: 14px;
	line-height: 27px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
/*Slim Scroll*/



.slimScrollDiv {
	margin: 50px auto 0;
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
}
.slimScrollBar {
	display: none !important;
}
/***** INFO *****/



.info-item-wrap {
	margin: 0 -6px 36px;
}
.info-item {
	width: 96px;
	height: 150px;
	margin: 0 6px 12px;
	padding: 28px 0 0;
	display: inline-block;
	background-color: rgba(255, 255, 255, .1);
	border-radius: 5px;
}
.info-item label {
	font-size: 14px;
	line-height: 21px;
}
.info-item span {
	width: 100%;
	display: inline-block;
	font-size: 18px;
	color: #c7bc9b;
	line-height: 27px;
}
.info-item span.unit {
	font-family: "LoveloBlack";
	font-size: 32px;
	line-height: 54px;
}

@media(min-width: 360px) {
.info-item {
 //width: 110px;
	width: 105px;
}
.info-item span.unit {
	font-size: 36px;
}
}
.project-timeline {
	position: relative;
	height: 94px;
	margin-top: 60px;
}
.bar-date {
	display: inline-block;
	margin: 0 20px;
	font-family: "LoveloBlack";
	font-size: 14px;
	line-height: 21px;
	vertical-align: middle;
}
.timeline-bar {
	width: 500px;
	display: inline-block;
	vertical-align: middle;
}
.bar-segment {
	width: 20%;
	height: 10px;
	position: relative;
	display: inline-block;
	vertical-align: middle;
}
.bar-segment:after {
	width: 2px;
	height: 20px;
	content: "";
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}
.bar-segment:nth-child(2n):after {
	bottom: 100%;
}
.bar-segment:nth-child(2n+1):after {
	top: 100%;
}
.bar-segment:nth-child(2n) span {
	bottom: 35px;
}
.bar-segment:nth-child(2n+1) span {
	top: 35px;
}
.bar-segment span {
	position: absolute;
	left: 50%;
	font-size: 14px;
	line-height: 21px;
	white-space: nowrap;
	transform: translateX(-50%);
}
.bar-segment:first-child {
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}
.bar-segment:last-child {
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}
.bar-segment:nth-child(1), .bar-segment:nth-child(1):after {
	background-color: #94437f;
}
.bar-segment:nth-child(1) span {
	color: #94437f;
}
.bar-segment:nth-child(2), .bar-segment:nth-child(2):after {
	background-color: #e68b00;
}
.bar-segment:nth-child(2) span {
	color: #e68b00;
}
.bar-segment:nth-child(3), .bar-segment:nth-child(3):after {
	background-color: #dc1351;
}
.bar-segment:nth-child(3) span {
	color: #dc1351;
}
.bar-segment:nth-child(4), .bar-segment:nth-child(4):after {
	background-color: #00aef0;
}
.bar-segment:nth-child(4) span {
	color: #00aef0;
}
.bar-segment:nth-child(5), .bar-segment:nth-child(5):after {
	background-color: #8dc73f;
}
.bar-segment:nth-child(5) span {
	color: #8dc73f;
}
/***** BLUE PRINT *****/



#blueprint-img {
	height: 400px;
	max-width: 100%;
	position: relative;
	margin-bottom: 30px;
	padding: 0 20px;
	cursor: pointer;
	overflow: hidden;
}
#blueprint-img img {
	width: 100%;
}
.button.button-level {
	width: 130px;
	display: inline-block;
	margin: 0 5px 10px;
	background-color: transparent;
}
.button.button-level:focus {
	background-color: #000;
}

@media(min-width: 1024px) {
#blueprint-img {
	padding: 0;
}
.button.button-level {
	width: 160px;
}
#blueprint-img:after {
	width: 100%;
	height: 100%;
	content: "";
	position: absolute;
	left: 0;
	top: 0;
}
}
.button.button-level.active, .button.button-level:hover {
	background-color: #fff;
	border-color: #fff;
	color: #000;
}
.pagination-scroll {
	height: 10px;
	width: 10px;
	position: absolute;
	display: none;
	bottom: 179px;
	left: auto;
	background-color: #C2002F;
	border: 1px solid #C2002F;
	border-radius: 50%;
	transition: 300ms ease-in-out;
}

@media(min-width: 1024px) {
.pagination-scroll {
	display: inline-block;
	position: absolute;
	bottom: 179px;
	left: auto;
}
}
