/****************
* Image Library *
*****************/
#image-library {
	display: block;
	padding: 40px 40px 0 40px;
	background-color: rgb(255,255,255);
}
#image-library > figure {
	display: inline-block;
	vertical-align: top;
	position: relative;
	margin-right: 40px;
	margin-bottom: 40px;
	width: 180px;
	height: 180px;
	overflow: hidden;
	/*box-shadow: 0px 0px 0px 1px rgb(181, 205, 224);*/
	cursor: pointer;
}
#image-library > figure > img {
	display: block;
	margin: auto;
}
#image-library > figure > .file-name {
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 15px;
	width: 100%;
	overflow: hidden;
	font-size: 14px;
	font-weight: bold;
	color: rgb(255,255,255);
	line-height: 18px;
	white-space: nowrap;
	text-overflow: ellipsis;
}
#image-library > figure > .actions-overlay {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	padding-top: 55px;
	height: 100%;
	width: 100%;
	text-align: center;
}
.action-buttons {
	position: relative;
	margin: auto;
	padding: 0;
	width: 90px;
	height: 40px;
	background-color: rgb(255,255,255);
	border-radius: 3px;
	line-height: 40px;
}
.confirm-prompt {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	padding-top: 65px;
	height: 100%;
	width: 100%;
	font-weight: bold;
	color: rgb(153,153,153);
	text-align: center;
	line-height: 21px;
	background-color: rgb(238,238,238);
}
.confirm-yes, .confirm-no {
	display: inline-block;
	vertical-align: top;
	width: 50px;
}

#image-library > .inactive {
	border: 1px dashed rgb(181, 205, 224);
}
#image-library > figure:nth-child(4n) {
	margin-right: 0;
}
#image-library > figure:hover > .actions-overlay {
	display: block;
}	
#image-library > figure:hover > .file-name {
	background: none;
}



/******************
* Setting Section *
*******************/
#edit-image-form,
#add-image-form {
	padding: 20px;
	text-align: left;
}

#edit-image-form > label,
#add-image-form > label {
	display: inline-block;
	vertical-align: top;
	margin-bottom: 40px;
	padding: 0 20px;
	width: 120px;
	height: 40px;
	border-bottom: 1px solid rgb(246,246,246);
	line-height: 40px;
}
#edit-image-file-name,
#add-image-file-name {
	display: inline-block;
	vertical-align: top;
	margin-bottom: 40px;
	padding: 0 20px;
	width: 450px;
	height: 40px;
	border-bottom: 1px solid rgb(246,246,246);
	line-height: 40px;
}
#edit-image-form > label.error,
#add-image-form > label.error {
	width: 300px;
	text-align: right;
}

.img-holder,
.steps {
	display: inline-block;
	vertical-align: top;
	position: relative;
	width: 420px;
	height: 420px;
	overflow:hidden;
}

/****************
*  Image Holder *
*****************/
.img-holder {
	margin: 0 20px 20px 20px;
	background: url(../img/staff/pat-checker.jpg) repeat left top;
}
.img-holder > img {
	position: absolute;
	top: 80px;
	left: 80px;
	width: 260px;
}
.crop-border {
	position:absolute;
	top: 0;
	left: 0;
	width: 420px;
	height: 420px;
	overflow:hidden;
	
	cursor: -webkit-grab;
	cursor: -moz-grab;
}
.crop-border:after{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	box-shadow: 0 0 0 80px rgba(0, 0, 0,0.125) inset;
}

/*************
*	Steps   *
**************/
.steps {
	list-style: decimal;
	list-style-position:inside;
	padding: 0 20px;
	color: rgb(153,153,153);
	text-align: left;
	line-height: 21px;
}
.steps > li {
	margin-bottom: 50px;
}
.steps button {
	display: inline-block;
	vertical-align: top;
	margin: 0;
	width: 180px;
	height: 40px;
}

/** Step 1 **/
.url-input {
	margin-top: 10px;
	margin-bottom: 20px;
	width: 100%;
	height: 40px;
	line-height: 40px;
}
#edit-image-browse-input,
#add-image-browse-input {
	display: none;
}

#edit-image-fetch-url-button,
#add-image-fetch-url-button {
	margin-right: 20px;
}

/** Step 2 **/
#edit-image-zoomer,
#add-image-zoomer {
	margin-top: 20px;
	width: 100%;
}

/** Step 3 **/
#edit-image-save-button,
#add-image-save-button {
	margin-top: 20px;
	margin-right: 20px;
}

#edit-image-undo-button,
#add-image-clear-button {
	margin-top: 19px;
}
