#result-table .priority {
    max-width: 140px;
}
#result-table .name {
    max-width: 640px;
    width: 640px;
}
#result-table .action {
    max-width: 100px;
    text-align: right;
    width: 100px;
}
#edit-project-feature {
    display: none;
}
#edit-project-feature.active {
    display: block;
}

#startDate, #endDate{
    width:38%;
}
