#result-table .name {
    max-width: 640px;
    width: 640px;
}
#result-table .action {
    max-width: 100px;
    text-align: right;
    width: 100px;
}
#edit-project-blue-print {
    display: none;
}
#edit-project-blue-print.active {
    display: block;
}
#result-section-blueprint form {
  padding: 0 10px 40px;
  width: 100%;
}
.deleteBlueprintImg, .confirm-yes, .confirm-no{
    cursor: pointer;
}