﻿/***** Result Table *****/
#result-table .email {
 width: 250px;
	max-width: 250px;
}
#result-table .name {
    width: 250px;
	max-width: 250px;
}
#result-table .profession {
	width: 230px;
	max-width: 230px;	
}
#result-table .action {
 width: 150px;
	max-width: 150px;
	text-align: right;	
}
#edit-customer {
    display: none;
}
#edit-customer.active {
	display: block;
} 
.setting-table td.label {
	width: 160px;
}
#add-customer {
    display: block;
}
#result-table .ban-customer,
#result-table .unban-customer, #result-table .remove-mail-list-entry-btn, #result-table .add-mail-list-entry-btn  {
	display: none;
}
.ban-customer {
	vertical-align: middle;
	margin-right: 20px;
	width: 20px;
	height: 20px;
	background-color: transparent;
	background-image: url('../img/staff/icon-ban-user.png');
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: 20px 40px;
}
.ban-customer:hover {
	background-color: transparent;
	background-position: 0 -20px;
}
.unban-customer {
	vertical-align: middle;
	margin-right: 20px;
	width: 20px;
	height: 20px;
	background-color: transparent;
	background-image: url('../img/staff/icon-unban-user.png');
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: 20px 40px;
}
.unban-customer:hover {
	background-color: transparent;
	background-position: 0 -20px;
}
.remove-mail-list-entry-btn {
	vertical-align: middle;
	width: 24px;
	height: 20px;
	background-color: transparent;
	background-image: url('../img/staff/icon-unsubscribe.png');
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: 24px 40px;
}
.remove-mail-list-entry-btn:hover {
	background-color: transparent;
	background-position: 0 -20px;
}
.add-mail-list-entry-btn {
	vertical-align: middle;
	width: 24px;
	height: 20px;
	background-color: transparent;
	background-image: url('../img/staff/icon-subscribe.png');
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: 24px 40px;
}
.add-mail-list-entry-btn:hover {
	background-color: transparent;
	background-position: 0 -20px;
}
#result-table > tbody > tr:hover .ban-customer,
#result-table > tbody > tr:hover .unban-customer, #result-table > tbody > tr:hover .remove-mail-list-entry-btn, #result-table > tbody > tr:hover .add-mail-list-entry-btn {
	display: inline-block;
}
/***** Referral Section *****/
#referral-information {
    display: none;
}
#referral-information.active {
    display: block;
}
#referrals {
    display: none;
}
/***** End of Referral Section *****/

/***** Credit Section *****/
#credits-customer {
    display: none;
}
#credits-customer.active {
    display: block;
}
#credit-section {
 display:none;
	position: relative;
	margin-bottom: 40px;
	border-radius: 5px;
}
#credit-section.active {
    display: block;
}
.credit-list-pagination {
	display: inline-block;
	vertical-align: top;
	margin: 0;
	padding: 15px 10px;
	overflow: hidden;
	font-size: 14px;
	font-weight: bold;
	color: rgb(255,255,255);
	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
}
.credit-list-pagination > .credit-list-page-link,
.credit-list-pagination > .credit-list-current {
	display: inline-block;
	vertical-align: top;
	margin: 0 10px;
	color: rgb(255,255,255);
}
#credit-left {
	position: absolute;
	right: 10px;
	top: 0;
	padding: 15px 0 15px 20px;
	font-size: 14px;
	font-weight: bold;
	color: rgb(255,255,255);
}
#credit-listing {
	display: block;
	padding: 20px 20px 30px 20px;
	width: 920px;
	background-color: rgb(255,255,255);
	font-family: 'Oxygen', sans-serif;
	font-size: 14px;
	font-weight: bold;
	line-height: 21px;
	
}
#credit-listing tr {
	border-bottom: 1px solid rgb(246,246,246);
}
#credit-listing td {
	display: table-cell;
	vertical-align: top;
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#credit-listing .sort-button {
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
	margin-right: 5px;
	width: 10px;
	height: 16px;
	background-color: transparent;
	background-image: url('../../img/staff/sprite-icon-sort.png');
	background-repeat: no-repeat;
	background-size: 10px 32px;
	background-position: center top;
}
#credit-listing .sort-button:hover {
	background-position: center bottom;
}
#credit-listing .credit-date {
    max-width: 140px;
    width: 140px;
}
#credit-listing .credit-activity {
    max-width: 420px;
    width: 420px;
}
#credit-listing .credit-added {
    max-width: 210px;
    width: 210px;
}
#credit-listing .credit-used {
    max-width: 110px;
    width: 110px;
}
/*****  Selectric Custom Select CSS *****/
.selectricWrapper {
	width: 193px;
	display:inline-block;
	position: relative;
	vertical-align:middle;
	cursor: pointer;
}
.selectric {
	position: relative;
	border-radius: 1px;
	background: rgb(255,255,255);
	box-shadow: inset 0 0 0 1px rgba(181, 205, 224, 0.5);
}
.selectric .label {
	min-height: 12px;
	display: inline-block;
	padding: 6px;
	margin: 0 30px 0 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 12px;
	color: rgb(181, 205, 224);
	white-space: nowrap;
	overflow: hidden;
}
.selectric .button {
	width: 26px;
	height: 26px;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	color: rgb(122, 119, 97);
	text-align: center;
	font: 0/0 a;
  /* IE Fix */
  *font: 20px/30px Lucida Sans Unicode, Arial Unicode MS, Arial;
}
.selectric .button:after {
	width: 0;
	height: 0;
	content: " ";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	border: 4px solid transparent;
	border-top-color:  rgba(181, 205, 224, 0.5);
	border-bottom: none;
}
.selectricOpen {
	z-index: 9999;
}
.selectricOpen .selectric {
	border-color: rgb(204, 204, 204);
	background: rgba(181, 205, 224, 0.2);
}
.selectricOpen .selectricItems {
	display: block;
}
.selectricDisabled {
	filter: alpha(opacity=50);
	opacity: 0.5;
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.selectricHideSelect {
	width: 0;
	height: 0;
	position: relative;
	overflow: hidden;
}
.selectricHideSelect select {
	display: none;
	position: absolute;
	left: -100%;
}
.selectricInput {
	position: absolute;
	top: 0 ;
	left: 0 ;
	overflow: hidden ;
	clip: rect(0, 0, 0, 0) ;
	margin: 0 ;
	padding: 0 ;
	width: 1px ;
	height: 1px ;
	outline: none ;
	border: none ;
 *font: 0/0 a ;
	background: none ;
}
.selectricTempShow {
	position: absolute ;
	visibility: hidden ;
	display: block ;
}
/* Items box */
.selectricItems {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	background: rgb(249,249,249);
	border: 1px solid rgb(204,204,204);
	z-index: -1;
	box-shadow: 0 0 10px -6px rgba(0,0,0,0.4);
}
.selectricItems .selectricScroll {
	height: 100%;
	overflow: auto;
}
.selectricAbove .selectricItems {
	top: auto;
	bottom: 100%;
}
.selectricItems ul, .selectricItems li {
	min-height: 20px;
	padding: 0;
	margin: 0;
	list-style: none;
	font-size: 12px;
	line-height: 20px;
}
.selectricItems li {
	display: block;
	padding: 5px;
	border-top: 1px solid rgb(255,255,255);
	border-bottom: 1px solid rgb(238,238,238);
	color: #666;
	cursor: pointer;
}
.selectricItems li.selected {
	background: rgb(239,239,239);
	color: rgb(68,68,68);
	border-top-color: rgb(224,224,224);
}
.selectricItems li:hover {
	background:  rgb(240,240,240);
	color: rgb(68,68,68);
}
.selectricItems li.disabled {
	background:rgb(245,245,245);
	color: rgb(187,187,187);
	border-top-color: rgb(250,250,250);
	cursor: default;
}
#manage-fitting-profile-btn{
	width: 180px;
}