body, #content {
	background-color: rgb(255,255,255);
}

/*************
 *  Content  *
 *************/
#content > section {
    width: 920px;
    height: 384px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
#tagline {
    color: rgb(238, 238, 238);
    font-size: 128px;
    font-weight: bold;
    line-height: 128px;
    text-align: center;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/*******************
 *  Login Overlay  *
 *******************/
.overlay-form {
	width: 280px;
	height: 296px;
	position: absolute;
	top: 30px;
	right: calc(50% - 467px);
	padding: 30px 40px 40px 40px;
	border-radius: 5px;
	background: rgb(255,255,255);
	font-size: 12px;
}
#login-form.hide,
#forgot-password-form.hide {
	display:none;
}
.overlay-form > label {
	display: block;
	margin-bottom: 10px;
}
.overlay-form > input:not([type=checkbox]) {
	width: 200px;
	height: 30px;
	display: block;
	margin-bottom: 10px;
	padding: 0 12px;
	font-size: 14px;
	color: rgb(255,255,255);
}
.overlay-form > input[type=checkbox]+label {
	margin-bottom: 10px;
}

.overlay-form > p {
	display: block;
	margin-bottom: 24px;
	padding-top:10px;
	white-space: nowrap;
}
.overlay-form > a {
    height: 30px;
    display: block;
    margin-bottom: 10px;
    line-height: 30px;
    text-align: center;
}
.overlay-form > button {
	width: 200px;
        height: 30px;
	display: block;
	position: relative;
	top: 0;
	right: 0;
	text-align: center;
}
.overlay-form > button:hover {
	color: transparent;
}
.overlay-form > button:hover:after {
	/* top arrow */
	width: 0;
	height: 0;
	content: "";
	display: block;
	position: absolute;
	top: calc(50% - 5px);
	left: 50%;
	margin-bottom: 1px;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: 10px solid rgb(255,255,255);
}@media (min-width: 1600px) {
    /* Large Desktops - 1440px */
    .overlay-form {
	position: absolute;
	top: 30px;
	right: calc(50% - 720px);
}
}

