#result-table .priority {
	max-width: 140px;
	width: 140px;
        white-space: nowrap;
}
#result-table .message {
	max-width: 640px;
	width: 640px;
}
#result-table .action {
	max-width: 100px; 
	text-align: right;
	width: 100px;
        white-space: nowrap; 
}
#result-table >tbody > tr.hide {
    display: none;
}
#edit-partner {
    display: none;
}
#edit-partner.active {
	display: block;
}
#edit-partner-file {
	width: 436px;
}
#edit-partner-file-image {
	width: 280px;
	height: 200px;
	padding: 5px;
	margin-bottom: 15px;
	border: 1px solid rgb(181,205,224);
}
