#result-table .access-level {
    max-width: 160px;
    width: 160px;
}
#result-table .name {
    max-width: 280px;
    width: 280px;
}
#result-table .email {
    max-width: 340px;
    width: 340px;
}
#result-table .action {
    max-width: 100px;
    text-align: right;
    width: 100px;
}
.setting-table td.label {
	width:160px;
}
#edit-staff.hide {
	display: none;
}
