.project {
    margin-bottom: 40px;
}
.project-button {
    height: 40px;
    display: inline-block;
    position: relative;
    margin-right: 1px;
    padding: 0 20px 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
    line-height: 40px;
    cursor: pointer;
}
.project-button.active:after {
    background-image: url("../img/icons/tab-design.svg");
    background-position: center center;
    background-repeat: no-repeat;
    bottom: 0;
    content: "";
    height: 3px;
    position: absolute;
    right: -3px;
    width: 3px;
    z-index: 3;
}
.project-button.active:before {
    width: 3px;
    height: 3px;
    content: "";
    position: absolute;
    bottom: 0;
    left: -3px;
    background-image: url("../img/icons/tab-design.svg");
    background-position: center center;
    background-repeat: no-repeat;
    transform: rotate(280deg);
    -webkit-transform: rotate(280deg);
    -moz-transform: rotate(280deg);
    -ms-transform: rotate(280deg);
    -o-transform: rotate(280deg);
}
.project-button.active:first-child:before {
    display: none;
}
.project-button:last-child:after {
    display: none;
}
.project-button:last-child {
    margin-right: 0;
}


//#bkesh


﻿/***** Result Table *****/
#result-table .name {
    width: 160px;
    max-width: 160px;
}
#result-table .price {
    width: 140px;
    max-width: 140px;
}
#result-table .stock {
    width: 140px;
    max-width: 140px;
}
#result-table .complete {
    width: 190px;
    max-width: 190px;
}
#result-table .action {
    width: 100px;
    max-width: 100px;
    text-align: right;
}
#edit-project {
    display: none;
}
#edit-project.active {
    display: block;
}
#manage-blueprints-image {
    display: none;
}
#manage-blueprints-image.active {
    display: block;
}

#add-project-image {
    display: none;
}
#add-project-image.active {
    display: block;
}
#edit-project-image {
    display: none;
}
#edit-project-image.active {
    display: block;
}

.edit {
    /*	margin-right: 0;*/
}
/*********************************
 *  Selectric Custom Select CSS  *
 *********************************/
.selectricWrapper {
    width: 250px;
    display: inline-block;
    position: relative;
    padding: 0 20px;
    vertical-align: middle;
    cursor: pointer;
}
.selectric {
    position: relative;
    border-radius: 1px;
    background: rgb(255,255,255);
}
.selectric .label {
    min-height: 12px;
    width: 100%;
    display: inline-block;
    padding: 0;
    margin: 0 30px 0 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 12px;
    color: rgb(24, 88, 159);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.selectric .button {
    width: 26px;
    height: 26px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    color: rgb(24, 88, 159);
    text-align: center;
    font: 0/0 a;
    /* IE Fix */
    *font: 20px/30px Lucida Sans Unicode, Arial Unicode MS, Arial;
}
.selectric .button:after {
    width: 10px;
    height: 10px;
    content: " ";
    position: absolute;
    top: 0;
    right: -33px;
    bottom: 0;
    left: 0;
    margin: auto;
    background-image: url("../img/icons/down-arrow-18589F.svg");
    background-repeat: no-repeat;
}
.selectricOpen {
    z-index: 9999;
}
.selectricOpen .selectric {
    border-color: rgb(204, 204, 204);
    background: transparent;
}
.selectricOpen .selectricItems {
    display: block;
}
.selectricDisabled {
    filter: alpha(opacity=50);
    opacity: 0.5;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.selectricHideSelect {
    width: 0;
    height: 0;
    position: relative;
    overflow: hidden;
}
.selectricHideSelect select {
    display: none;
    position: absolute;
    left: -100%;
}
.selectricInput {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    margin: 0;
    padding: 0;
    width: 1px;
    height: 1px;
    outline: none;
    border: none;
    *font: 0/0 a;
    background: none;
}
.selectricTempShow {
    position: absolute;
    visibility: hidden;
    display: block;
}
/* Items box */
.selectricItems {
    width: 250px !important; /**300px888**/
    display: none;
    position: absolute;
    top: 30px;
    left: 0;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(238, 238, 238);
    z-index: -1;
}
.selectricItems .selectricScroll {
    height: 100%;
    overflow: auto;
}
.selectricAbove .selectricItems {
    top: auto;
    bottom: 100%;
}
.selectricItems ul, .selectricItems li {
    min-height: 40px;
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 14px;
    line-height: 28px;
}
.selectricItems li {
    display: block;
    padding: 5px 20px;
    border:none; 
    color: rgb(181, 205, 224);
    cursor: pointer;
}
.selectricItems li.selected {
    background: rgb(181, 205, 224);
    color: rgb(24, 88, 159);
    border-top-color: rgb(224,224,224);
}
.selectricItems li:hover {
    background: rgb(181, 205, 224);
    color: rgb(68,68,68);
}
.selectricItems li.disabled {
    background: rgb(245,245,245);
    color: rgb(187,187,187);
    border-top-color: rgb(250,250,250);
    cursor: default;
}
/********************
 *  Popup Response  *
 ********************/
#popup-response.active {
    display: block;
}
#manage-project-image {
    margin: 0 auto 40px;
    width: 100%;
    background-color: rgb(255,255,255);
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    display: none;
}
#manage-project-image.active{
    display: block
}
#response-popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    border: 1px solid rgb(255,255,255);
    background: url('../img/staff/btn-close-popup.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10px 10px;
    cursor: pointer;
}
.popup-header {
    padding: 30px 20px;
    color: rgb(255,255,255);
    text-align: center;
}
.edit-project-link {
    display: inline-block;
    padding: 12px 0 0;
    margin: 0 5px;
    width: 120px;
    height: 40px;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
}
.popup-setting-section {
    width: 100%;
    position: relative;
    margin-bottom: 30px;
    text-align: center;
}
#result-section-image.popup-setting-section  {
    background-color: rgb(181, 205, 224);
    border-radius: 5px;
}
#manage-project-image .group-button button {
    display: inline-block;
    height: 40px;
    margin: 20px 20px 0;
    vertical-align: top;
    width: 120px;
}
/********************
 *  Result Section Collar  *
 ********************/
#result-section-collar {
    display: none;
}
#result-section-collar.active {
    display: inline-block;
}
#result-section-collar .pop-result-table {
    padding-bottom: 10px;
}
/*** Collar Setting Section > Pagination ***/
.simple-pagination-collar {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: 15px 10px;
    width: 100%;
    border-radius: 5px 5px 0 0;
    background-color: rgba(181, 205, 224, 0.6);
    overflow: hidden;
    font-size: 14px;
    font-weight: bold;
    color: rgb(255,255,255);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}
.simple-pagination-collar > .page-link-collar, .simple-pagination-collar > .current-collar {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
    color: rgb(255,255,255);
}
.results-per-page-collar {
    position: absolute;
    right: 10px;
    top: 0;
    padding: 15px 0 15px 20px;
    font-size: 14px;
    font-weight: bold;
    color: rgb(255,255,255);
}
.results-per-page-collar > .collar-per-page {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
    font-size: 14px;
    color: rgb(255,255,255);
}
.results-per-page-collar > .collar-per-page:first-of-type {
    margin-left: 20px;
}
.bottom-pagination-collar {
    border-radius: 0 0 5px 5px;
}
/*** Cuff Setting Section > Pagination ***/
.simple-pagination-cuff {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: 15px 10px;
    width: 100%;
    border-radius: 5px 5px 0 0;
    background-color: rgba(181, 205, 224, 0.6);
    overflow: hidden;
    font-size: 14px;
    font-weight: bold;
    color: rgb(255,255,255);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}
.simple-pagination-cuff > .page-link-cuff, .simple-pagination-cuff > .current-cuff {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
    color: rgb(255,255,255);
}
.results-per-page-cuff {
    position: absolute;
    right: 10px;
    top: 0;
    padding: 15px 0 15px 20px;
    font-size: 14px;
    font-weight: bold;
    color: rgb(255,255,255);
}
.results-per-page-cuff > .cuff-per-page {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
    font-size: 14px;
    color: rgb(255,255,255);
}
.results-per-page-cuff > .cuff-per-page:first-of-type {
    margin-left: 20px;
}
.bottom-pagination-cuff {
    border-radius: 0 0 5px 5px;
}
.pop-result-table {
    display: block;
    padding: 0 0 30px;
    //width: 880px;
    width: 100%;
    background-color: rgb(255,255,255);
    font-family: 'Oxygen', sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 21px;
    text-align: left;
}
.pop-result-table tr {
    border-bottom: 1px solid rgb(246, 246, 246);
}
.pop-result-table > tbody > tr:hover {
    background-color: rgb(246,246,246);
}
#result-section-blueprint.popup-setting-section .pop-result-table > tbody > tr {
    border: none;
}
#result-section-blueprint.popup-setting-section .pop-result-table > tbody > tr:hover {
    background-color: transparent;
}
.pop-result-table td {
    display: table-cell;
    vertical-align: top;
    padding: 0 20px;
    height: 60px;
}
.pop-result-table #result-table-image td {
    height: 40px;
    vertical-align: middle;
}
#result-table-image button.edit {
    margin: 0;
    background-position: center center;
}
.pop-result-table .sort-button {
    background-color: rgba(0, 0, 0, 0);
    display: inline-block;
    line-height: 40px;
    padding: 0 20px;
    position: relative;
    text-align: left;
    vertical-align: middle;
    width: 100%;
}
.pop-result-table .sort-button:after {
    color: rgb(181, 205, 224);
    content: "▲";
    display: inline-block;
    font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif;
    font-size: 10px;
    margin-left: 10px;
    vertical-align: middle;
    width: 10px;
}
.pop-result-table .sort-button:hover {
    background-position: center bottom;
}
.pop-result-priority {
    width: 120px;
    max-width: 120px;
}
.pop-result-name {
    width: 260px;
    max-width: 260px;
}
.pop-result-length {
    width: 200px;
    max-width: 200px;
}
.pop-result-part {
    width: 200px;
    max-width: 200px;
}
.pop-result-complete {
    width: 200px;
    max-width: 200px;
}
.pop-result-action {
    width: 300px;
    max-width: 300px;
}
.manage-collar-image {
    display: inline-block;
    vertical-align: middle;
    width: 120px;
    height: 40px;
}
.manage-pocket-image {
    display: inline-block;
    vertical-align: middle;
    width: 120px;
    height: 40px;
}
.manage-placket-image {
    display: inline-block;
    vertical-align: middle;
    width: 120px;
    height: 40px;
}
.manage-pleat-image {
    display: inline-block;
    vertical-align: middle;
    width: 120px;
    height: 40px;
}
#control-section-collar {
    display: none;
    padding-bottom: 30px;
    margin: 0 0 30px;
    width: 880px;
    border-radius: 5px;
    border: 1px solid rgba(24, 88, 159, 1);
    background-color: rgb(255,255,255);
    font-family: 'Oxygen', sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 21px;
}
#control-section-collar.active {
    display: inline-block;
}
#control-section-collar-title {
    display: block;
    padding: 5px 0;
    margin-bottom: 10px;
    color: rgb(255,255,255);
    text-align: center;
    text-transform: uppercase;
}
#add-inner-band-img-table td.label, #add-outer-band-img-table td.label, #add-outer-wing-img-table td.label {
    padding: 20px 0 20px 20px;
}
#add-inner-band-img-table td.input, #add-outer-band-img-table td.input, #add-outer-wing-img-table td.input {
    position: relative;
    padding: 20px 20px 20px 0;
    width: 600px;
}
#add-inner-band-img-table td.action, #add-outer-band-img-table td.action, #add-outer-wing-img-table td.action {
    width: 120px;
    padding: 20px 0;
}
#add-inner-band-img-table .action > button, #add-outer-band-img-table .action > button, #add-outer-wing-img-table .action > button {
    display: inline-block;
    vertical-align: middle;
    width: 120px;
    height: 40px;
}
#add-project-collar-inner, #add-project-collar-outer, #add-project-outer-wing {
    margin-left: 20px;
    width: 290px;
}
#add-inner-band-img-table input, #add-outer-band-img-table input, #add-outer-wing-img-table input {
    height: auto;
}
#control-section-collar .error {
    position: absolute;
    top: 50px;
    left: 145px;
    width: 290px;
    text-align: left;
}
/********************
 *  Result Section Cuff Sleeve  *
 ********************/
#result-section-cuff-sleeve {
    display: none;
    padding-bottom: 30px;
}
#result-section-cuff-sleeve.active {
    display: inline-block;
}
#result-section-cuff-sleeve .pop-result-table {
    padding-bottom: 10px;
}
/********************
 *  Result Section Cuff  *
 ********************/

#result-section-cuff {
    display: none;
}
#result-section-cuff.active {
    display: inline-block;
}
#result-section-cuff .pop-result-table {
    padding-bottom: 10px;
}
/*** Collar Setting Section > Pagination ***/
.simple-pagination-cuff {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: 15px 10px;
    width: 100%;
    border-radius: 5px 5px 0 0;
    background-color: rgba(181, 205, 224, 0.6);
    overflow: hidden;
    font-size: 14px;
    font-weight: bold;
    color: rgb(255,255,255);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}
.simple-pagination-cuff > .page-link-cuff, .simple-pagination-cuff > .current-cuff {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
    color: rgb(255,255,255);
}
.results-per-page-cuff {
    position: absolute;
    right: 10px;
    top: 0;
    padding: 15px 0 15px 20px;
    font-size: 14px;
    font-weight: bold;
    color: rgb(255,255,255);
}
.results-per-page-cuff > .cuff-per-page {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
    font-size: 14px;
    color: rgb(255,255,255);
}
.results-per-page-cuff > .cuff-per-page:first-of-type {
    margin-left: 20px;
}
.bottom-pagination-cuff {
    border-radius: 0 0 5px 5px;
}
.manage-cuff-image {
    display: inline-block;
    vertical-align: middle;
    width: 120px;
    height: 40px;
}
#control-section-cuff {
    display: none;
    padding-bottom: 30px;
    margin: 0 0 30px;
    width: 880px;
    border-radius: 5px;
    border: 1px solid rgba(24, 88, 159, 1);
    background-color: rgb(255,255,255);
    font-family: 'Oxygen', sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 21px;
}
#control-section-cuff.active {
    display: inline-block;
}
#control-section-cuff-title {
    display: inline-block;
    padding: 5px 0;
    margin-bottom: 10px;
    color: rgb(255,255,255);
    text-align: center;
    text-transform: uppercase;
}
#add-cuff-inner-img-table td.label, #add-cuff-outer-img-table td.label {
    padding: 20px 0 20px 20px;
}
#add-project-cuff-inner, #add-project-cuff-outer, #add-project-outer-wing {
    margin-left: 20px;
    width: 290px;
}
#add-cuff-inner-img-table td.input, #add-cuff-outer-img-table td.input {
    position: relative;
    padding: 20px 20px 20px 0;
    width: 600px;
}
#add-cuff-inner-img-table td.action, #add-cuff-outer-img-table td.action {
    width: 120px;
    padding: 20px 0;
}
#add-cuff-inner-img-table .action > button, #add-cuff-outer-img-table .action > button {
    display: inline-block;
    vertical-align: middle;
    width: 120px;
    height: 40px;
}
#control-section-cuff-sleeve {
    padding-bottom: 30px;
    margin: 30px auto 0;
    width: 880px;
    border-radius: 5px;
    border: 1px solid rgba(24, 88, 159, 1);
    background-color: rgb(255,255,255);
    font-family: 'Oxygen', sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 21px;
}
#control-section-cuff-sleeve-title {
    display: inline-block;
    padding: 5px 0;
    margin-bottom: 10px;
    color: rgb(255,255,255);
    text-align: center;
}
#add-cuff-inner-img-table input, #add-cuff-outer-img-table input, #add-cuff-outer-wing-img-table input {
    height: auto;
}
#control-section-cuff .error {
    position: absolute;
    top: 50px;
    left: 140px;
}
/*** Result section pocket ***/
#result-section-pocket {
    display: none;
    padding-bottom: 30px;
}
#result-section-pocket.active {
    display: inline-block;
}
#result-section-pocket .pop-result-table {
    padding-bottom: 10px;
}
#cuff-sleeve-table .pop-result-name {
    max-width: 510px;
    width: 510px;
}
#pocket-table .pop-result-name {
    max-width: 510px;
    width: 510px;
}
#placket-table .pop-result-name {
    max-width: 510px;
    width: 510px;
}
#pleat-table .pop-result-name {
    max-width: 510px;
    width: 510px;
}
#control-section-pocket {
    display: none;
    padding-bottom: 30px;
    margin: 0 0 30px;
    width: 880px;
    border-radius: 5px;
    border: 1px solid rgba(24, 88, 159, 1);
    background-color: rgb(255,255,255);
    font-family: 'Oxygen', sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 21px;
}
#control-section-pocket.active {
    display: inline-block;
}
#control-section-pocket-title {
    display: inline-block;
    padding: 5px 0;
    margin-bottom: 10px;
    color: rgb(255,255,255);
    text-align: center;
}
#add-pocket-img-table td.label {
    padding: 20px 0 20px 20px;
}
#add-pocket-img-table td.input {
    position: relative;
    padding: 20px 20px 20px 0;
    width: 600px;
}
#add-pocket-img-table input {
    height: auto;
}
#add-pocket-img-table td.action {
    width: 120px;
    padding: 20px 0;
}
#add-pocket-img-table .action > button {
    display: inline-block;
    vertical-align: middle;
    width: 120px;
    height: 40px;
}
/*** Result section placket ***/
#result-section-placket {
    display: none;
    padding-bottom: 30px;
}
#result-section-placket.active {
    display: inline-block;
}
#result-section-placket .pop-result-table {
    padding-bottom: 10px;
}
#control-section-placket {
    display: none;
    padding-bottom: 30px;
    margin: 0 0 30px;
    width: 880px;
    border-radius: 5px;
    border: 1px solid rgba(24, 88, 159, 1);
    background-color: rgb(255,255,255);
    font-family: 'Oxygen', sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 21px;
}
#control-section-placket.active {
    display: inline-block;
}
#control-section-placket-title {
    display: inline-block;
    padding: 5px 0;
    margin-bottom: 10px;
    color: rgb(255,255,255);
    text-align: center;
}
#add-placket-img-table td.label {
    padding: 20px 0 20px 20px;
}
#add-placket-img-table td.input {
    position: relative;
    padding: 20px 20px 20px 0;
    width: 600px;
}
#add-placket-img-table input {
    height: auto;
}
#add-placket-img-table td.action {
    width: 120px;
    padding: 20px 0;
}
#add-placket-img-table .action > button {
    display: inline-block;
    vertical-align: middle;
    width: 120px;
    height: 40px;
}
/*** Result section pleat ***/
#result-section-pleat {
    display: none;
    padding-bottom: 30px;
}
#result-section-pleat.active {
    display: inline-block;
}
#result-section-pleat .pop-result-table {
    padding-bottom: 10px;
}
#control-section-pleat {
    display: none;
    padding-bottom: 30px;
    margin: 0 0 30px;
    width: 880px;
    border-radius: 5px;
    border: 1px solid rgba(24, 88, 159, 1);
    background-color: rgb(255,255,255);
    font-family: 'Oxygen', sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 21px;
}
#control-section-pleat.active {
    display: inline-block;
}
#control-section-pleat-title {
    display: inline-block;
    padding: 5px 0;
    margin-bottom: 10px;
    color: rgb(255,255,255);
    text-align: center;
}
#add-pleat-img-table td.label {
    padding: 20px 0 20px 20px;
}
#add-pleat-img-table td.input {
    position: relative;
    padding: 20px 20px 20px 0;
    width: 600px;
}
#add-pleat-img-table input {
    height: auto;
}
#add-pleat-img-table td.action {
    width: 120px;
    padding: 20px 0;
}
#add-pleat-img-table .action > button {
    display: inline-block;
    vertical-align: middle;
    width: 120px;
    height: 40px;
}
#manage-project-image > form {
    position: relative;
    padding: 20px 40px;
    text-align: center;
}
.setting-table {
    margin: 0;
    text-align: left;
}
.setting-table tr {
    border-bottom: 1px solid rgb(238, 238, 238);
}
.setting-table tr:last-child {
    border: none;
}
.setting-table td {
    vertical-align: top;
    padding: 9px 20px;
    height: 40px;
    line-height: 21px;
}
.setting-table td.label {
    padding-left: 10px;
    padding-right: 10px;
    width: 280px;
}
.setting-table td.input {
    padding-right: 0;
    padding-left: 0;
    width: 740px;
}
.setting-table input {
    width: 100%;
    height: 100%;
}
.setting-table textarea {
    width: 100%;
    /*height: 63px;*/
    line-height: 21px;
}
.setting-table input:not([type=radio]):not([type=checkbox]), .setting-table textarea {
    display: inline-block;
    vertical-align: top;
    width: 480px;
}
.setting-table .upload-instructions .uploaded-name-holder input[type="text"] {
    width: 70%;
}
.setting-table label.error {
    display: inline-block;
    vertical-align: top;
    width: 200px;
    color: rgb(239, 67, 60); /* red */
    text-align: right;
    white-space: nowrap;
}
.setting-section button {
    margin: 20px 20px 0 0;
}
#edit-project-base, 
#edit-project-texture {
    width: 100%;
    height: auto;
}
#edit-project-base-img, #edit-project-texture-img {
    margin: 10px 0 6px;
}
#edit-customer.hide {
    display: none;
}
#control-section-collar img, #control-section-cuff img, #control-section-cuff-sleeve img, #control-section-pocket img, #control-section-placket img, #control-section-pleat img {
    width: 100px;
    height: 100px
}
.file-button {
    vertical-align: top;
    width: 17px;
    height: 20px;
    display: inline-block;
    position: relative;
    margin: 10px 20px 10px 0;
    background-color: transparent;
    background-image: url('../img/staff/sprite-icon-manage-img.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 17px 40px;
    overflow: hidden;
    cursor: pointer;
}
.file-button:hover {
    background-color: transparent;
    background-position: 0 -20px;
}
.file-button.active {
    background-color: transparent;
    background-position: 0 -20px;
}
.file-button input {
    cursor: pointer;
    font-size: 50px;
    left: 0;
    line-height: 0;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    top: -2px;
    width: 25px;
    z-index: 999;
    height: auto;
}
.pop-result-action .file-button {
    vertical-align: middle;
}
.header-error{
    color: rgb(239, 67, 60);
}